@use "global" as *;

.c-breadcrumbs {
  width: fit-content;
  font-size: myrem(11);
  font-weight: bold;
  text-align: right;
  letter-spacing: 0;
  color: $black;
  display: flex;
  justify-content: flex-end;

  @include mq(md) {
    width: 100%;
    padding: 0;
    font-size: myrem(14);
  }
}

.c-breadcrumbs a,
.c-breadcrumbs span {
  display: inline-block;
}

.c-breadcrumbs__top,
.c-breadcrumbs__parent {
  font-weight: bold;
  padding: myrem(10) myrem(4);
  text-transform: uppercase;

  @include mq(md) {
    padding: myrem(20) myrem(10);
  }
}

.c-breadcrumbs__current {
  color: $black_sub;
  text-transform: uppercase;
  padding: myrem(10) myrem(4);

  @include mq(md) {
    padding: myrem(20) myrem(10);
  }
}

.c-breadcrumbs__separator {
  margin: 0;
  padding: myrem(10) 0;

  @include mq(md) {
    padding: myrem(20) 0;
  }
}

.c-breadcrumbs__wrapper {
  width: 100%;

  @include mq(md) {
    margin: 0 auto;
  }
}

/****************************
service　用
****************************/
.c-breadcrumbs__wrapper--service {
  background-color: $black_base;
}

/****************************
sprofile　用
****************************/

.c-breadcrumbs__wrapper--profile {
  background-color: $black_base;
}

/****************************
news　用
****************************/
.c-breadcrumbs__wrapper--news {
  margin-top: myrem(50);

  @include mq(md) {
    max-width: $innerWidth;
    margin-top: myrem(10);
  }
}

.c-breadcrumbs__wrapper--profile {
  background-color: $black_base;
}

/****************************
archive-voice用
****************************/

.p-archive-voice .c-breadcrumbs__wrapper--voice {
  margin-top: myrem(30);

  @include mq(md) {
    margin-top: myrem(40);
  }
}

/****************************
archive-works用
****************************/
.p-archive-works .c-breadcrumbs__wrapper--works {
  margin-top: myrem(75);

  @include mq(md) {
    margin-top: myrem(40);
  }
}
