@use "global" as *;

.c-card-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;

  @include mq(md) {
  }
}

.c-card-post:hover {
  transform: scale(1.1);
}

.c-card-post-inner__label {
  width: fit-content;
  height: myrem(25);
  background-color: $black;
  color: $white;
  font-size: myrem(12);
  padding: myrem(4) myrem(8);
  white-space: nowrap;
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 0.1em;
  align-self: flex-end;
  transform: translateY(100%);

  @include mq(md) {
    height: myrem(30);
  }
}

.c-card-post-inner__image {
  width: 100%;
  aspect-ratio: 257 / 173;
}

.c-card-post-inner__image img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: 85% 80%;

  @include mq(md) {
    // aspect-ratio: 410 / 278;
  }
}

.c-card-post__summary {
  width: calc(234 / 257 * 100%);
  padding-bottom: myrem(10);
  background-color: #fff;
  transform: translateY(-25%);

}

.c-card-post-summary--text {
  max-height: myrem(72); // 24px × 3行 
  background-color: $white;
  padding: myrem(10) myrem(5) myrem(0) myrem(12);
  font-size: myrem(14);
  letter-spacing: 0.06em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; // ← 3行で省略

  @include mq(md) {
    width: calc(310 / 340 * 100%);
    height: myrem(100);
    padding: myrem(10) myrem(15) myrem(0) myrem(12);
    letter-spacing: 0.08em;
  }
}


/****************************
関連記事　swiper 用
****************************/


.c-swiper-related .c-card-post-inner__image {
  @include mq(md) {
    width: 100%;
    aspect-ratio: 340 / 230;
  }
}

.c-swiper-related .c-card-post-inner__image img {
  @include mq(md) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/****************************
voice アーカイブ一覧　用
****************************/
.c-card-post--voice + .c-card-post--voice {
  margin-top: myrem(-30);

    @include mq(md) {}
    margin-top: 0;
    

}

.c-card-post--voice .c-card-post__summary {
  width: calc(301 / 335 * 100%);

    @include mq(md) {
      transform: translateY(-40%);
    }
}

.c-card-post--voice .c-card-post-summary--text {
  font-size: myrem(16);
  letter-spacing: 0.06em;
  max-height: myrem(87); 

    @include mq(md) {
      width: 100%;
      padding: myrem(15) myrem(15) myrem(0) myrem(15);
      letter-spacing: 0.1em;

    }

}

/****************************
works アーカイブ一覧　用
****************************/
.c-card-post--works + .c-card-post--works {
  margin-top: myrem(-30);

    @include mq(md) {}

}


.c-card-post--works .c-card-post__summary {
  width: calc(301 / 335 * 100%);
  transform: translateY(-30%);


    @include mq(md) {
    }
}

.c-card-post--works .c-card-post-summary--text {
  font-size: myrem(16);
  letter-spacing: 0.07em;
  max-height: myrem(87); 

    @include mq(md) {

    }

}

