@use "global" as *;

// 固定ページ　service　内　prideのグリッド
.c-card-price-grid {
  width: 100%;
  background-color: $black_base;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: myrem(172) myrem(297) myrem(172) myrem(172);
  column-gap: myrem(10);
  row-gap: myrem(10);
  padding: myrem(60) myrem(20) 0;

  @include mq(md) {
    grid-template-columns: myrem(353) 1fr myrem(770);
    grid-template-rows: myrem(417) myrem(406) myrem(330);
    column-gap: 0;
    row-gap: myrem(10);
    padding: myrem(65) 0 0;
    margin-inline: auto;
  }
}

.c-card-price {
  background-color: $white;
  color: $black;
  padding: myrem(20) myrem(6) myrem(10) myrem(10);

  @include mq(md) {
    padding: myrem(50) myrem(65);
  }
}

.c-card-price__title {
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(18);
  letter-spacing: 0.04em;
  color: $black;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.c-card-price__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-card-price-body--estimate {
  margin-top: myrem(20);
  
    @include mq(md) {
        margin-top: myrem(90);
    }
}

.c-card-price-body--basicFee {
  flex-direction: column;
  gap: myrem(15);

  @include mq(md) {
    flex-direction: row;
    gap: myrem(50);
    margin-top: myrem(35);
    transform: translateX(myrem(-5));

  }
}

.c-card-price-body--animation {
  margin-top: myrem(100);

    @include mq(md) {
        margin-top: myrem(80);
        letter-spacing: 0.02em;
    }
}

.c-card-price-body--responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: myrem(40);
  margin-top: myrem(5);
  transform: translateX(myrem(11));

    @include mq(md) {
        margin-top: myrem(45);
        gap: myrem(10);
        transform: translateX(myrem(0));

    }
}

.c-card-price-body--deadline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: myrem(30);
  margin-top: myrem(15);

    @include mq(md) {
        justify-content:space-between;
        margin-top: 0;
        transform: translateY(myrem(-30));

    }
}

.c-card-price-body__text-block {

      @include mq(md) {
        letter-spacing: 0.02em;
      }
}

.c-card-price-body__text-block--basicFee {
      @include mq(md) {
        text-align: right;
        transform: translateY(myrem(-10));
      }
}

.c-card-price-body__text {
  font-family: $font-sub;
  font-weight: 500;
  font-size: myrem(34);
  color: $black;
  line-height: 1;
  position: relative;

  @include mq(md) {
    font-size: myrem(100);
  }
}

.c-card-price-body__text::before {
  content: attr(data-before);
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(14);
  letter-spacing: 0.04em;
  color: $black;

  @include mq(md) {
    font-size: myrem(32);
    margin-right: myrem(25);
  }
}

.c-card-price-body__text::after {
  content: attr(data-after);
  font-family: $font-main;
  font-size: myrem(14);
  font-weight: bold;
  vertical-align: baseline;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.c-card-price-body__text--top {

      @include mq(md) {
        letter-spacing: 0.02em;
      }
}

.c-card-price-body__text--top:not(:first-child) {
    @include mq(md) {
      margin-top: myrem(20);
    }
  }

.c-card-price-body__text--top::before {
  display: block;
  font-size: myrem(13);
  position: static; // 通常のフローで表示

    @include mq(md) {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-size: myrem(32);
        margin-right: myrem(20);
    
    }
}

.c-card-price-body__text--bottom {
  margin-top: myrem(12);
  padding-top: myrem(14);

  @include mq(md) {
    letter-spacing: 0.02em;
  }

}

.c-card-price-body__text--bottom::before {
  position: absolute;
  top: 0;

    @include mq(md) {

        position: static;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        font-size: myrem(32);
        margin-right: myrem(40);
        letter-spacing: 0;
    }
}

.c-card-price-body__text--responsive {
  transform: translateY(myrem(-10));
}

.c-card-price-body__text span {
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(14);
  letter-spacing: 0.04em;
  width: myrem(150);

  @include mq(md) {
    font-size: myrem(32);
  }
}

// お見積り　カウントダウン用のスタイル
.c-card-price-body__text .js-count-num {
  font-size: myrem(70);
  font-family: $font-sub;
  display: inline-block;
  min-width: 3ch; // 数字3桁分のスペースを保持
  text-align: right; // 右揃えで自然に見せる

  @include mq(md) {
    font-size: myrem(100);
  }
}

.c-card-price-body__image {
}

.c-card-price-body__image--basicFee {
  margin-top: myrem(15);
  width: myrem(77);
  height: myrem(69);
  transform: translateX(myrem(8));

  @include mq(md) {
    width: myrem(216);
    height: myrem(194);
    // transform: translateX(myrem(8));
    // transform: translateY(myrem(10));

    margin-top: myrem(0);

  }
}

.c-card-price-body__image--responsive {
  width: myrem(78);
  height: myrem(102);

    @include mq(md) {
        width: myrem(145);
        height: myrem(199);
          }

}

.c-card-price-body__image--deadline {
  width: myrem(157);
  height: myrem(72);
  transform: translateY(myrem(-5));

    @include mq(md) {
        width: myrem(480);
        height: myrem(230);
        transform: translateY(myrem(-10));
    }
}

.c-card-price-body__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.c-card-price--estimate {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @include mq(md) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.c-card-price--basicFee {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include mq(md) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    margin-left: myrem(10);
  }
}

.c-card-price--animation {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @include mq(md) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.c-card-price--responsive {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  @include mq(md) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    margin-left: myrem(10);
  }
}

.c-card-price--deadline {
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  @include mq(md) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    padding: myrem(60) myrem(250) myrem(10) myrem(235);
  }
}

.c-card-price__note {
  font-family: $font-main;
  font-weight: 500;
  font-size: myrem(12);
  line-height: calc(14 / 12);
  letter-spacing: 0.06em;
  color: #888888;
  text-align: center;
  margin-top: myrem(10);

  @include mq(md) {
    text-align: left;
    font-size: myrem(16);
    margin-top: myrem(-80);
  }
}
