@use "global" as *;


.c-content {

}

.c-content__title--top {

}

.c-heading02--up {

}

.c-content__title--bottom {

}

.c-heading02--left {

}

.c-content__text {
margin-top: myrem(20);
font-weight: 400;
font-size: myrem(16);
line-height: calc( 28 / 16);
letter-spacing: 0.1em;

}

.c-content__image {

}

