@use "global" as *;

/***************************************
c-heading01 英語と日本語 2色(黒・白)の線の装飾
****************************************/

.c-heading01 {
  width: 100%;
  font-family: $font-main;
  color: $black_sub;
  font-size: myrem(13);
  line-height: calc(16 / 13);
  font-weight: bold;
  letter-spacing: 0.06em;
  display: inline-block;
  position: relative;
  padding-left: myrem(26);

  @include mq(md) {
    width: 100%;
    font-size: myrem(16);
    margin: 0 auto;
    padding-left: myrem(42);
  }
}

.c-heading01::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: myrem(16);
  height: myrem(4);
  background: linear-gradient(to right, $black 50%, $white 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
  }
}

.c-heading01::after {
  content: attr(data-en);
  display: block;
  color: $black;
  font-family: $font-sub;
  font-size: myrem(28);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  position: absolute;
  top: myrem(-32);
  left: myrem(-4);

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-60);
  }
}

//pc サイドバー用　英語のサイズ違い
.c-heading01--sidebar::after {
  font-size: myrem(50);
  top: myrem(-65);
  left: myrem(0);
}

//背景色$black_base用の　装飾線の色違い
.c-heading01--lineWhite {
  font-size: myrem(13);
  letter-spacing: 0.06em;
  padding-left: myrem(30);

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(45);
    margin: 0 auto;
  }
}

.c-heading01--lineWhite::before {
  content: "";
  background: linear-gradient(to right, $black 50%, $white 50%);
  top: 50%;
  @include mq(md) {
    top: 45%;
    left: 0;
  }
}

.c-heading01--lineWhite::after {
  font-size: myrem(28);
  top: myrem(-32);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-60);
    left: 0;
  }
}

//フロントページ service　用 テキストの色違い
.c-heading01--white {
  width: fit-content;
  font-size: myrem(13);
  color: $white;
  padding-left: myrem(30);

  @include mq(md) {
    font-size: myrem(16);
    padding: 0 myrem(40);
  }
}

.c-heading01--white::before {
  height: myrem(4);
  top: 50%;
  left: myrem(4);
  background: linear-gradient(to right, $black_sub 50%, $white 50%);

  @include mq(md) {
    left: myrem(0);
  }
}

.c-heading01--white::after {
  color: $white;
  font-size: myrem(28);
  bottom: myrem(20);
  left: 0;
  letter-spacing: 0;

  @include mq(md) {
    font-size: myrem(60);
  }
}

//fontサイズ違い 装飾線（$blacｋ #f5f5f5)　
.c-heading01--large01 {
  font-size: myrem(14);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(117);
  }
}

.c-heading01--large01::before {
  top: 50%;
  left: myrem(4);
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);


  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    left: myrem(70);
  }
}

.c-heading01--large01::after {
  font-size: myrem(36);
  top: myrem(-37);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
    left: myrem(70);
  }
}

//fontサイズ違い 装飾線（$blacｋ #white)　
.c-heading01--large02 {
  font-size: myrem(14);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(42);
  }
}

.c-heading01--large02::before {
  top: 50%;
  left: myrem(4);
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, $white 50%);


  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    left: myrem(0);
  }
}

.c-heading01--large02::after {
  font-size: myrem(36);
  top: myrem(-37);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
    left: myrem(0);
  }
}

//fontサイズ違い 装飾線（$blacｋ #white 英語フォントサイズ違い)　
.c-heading01--large02small {
  font-size: myrem(14);
  letter-spacing: 0.06em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(42);
  }
}

.c-heading01--large02small::before {
  top: 50%;
  left: myrem(4);
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, $white 50%);


  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    left: myrem(0);
  }
}

.c-heading01--large02small::after {
  font-size: myrem(36);
  top: myrem(-37);
  left: 0;

  @include mq(md) {
    font-size: myrem(50);
    top: myrem(-62);
    left: myrem(0);
  }
}


//日本語　fontサイズ違い 　
.c-heading01--large03 {
  font-size: myrem(16);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(117);
  }
}

.c-heading01--large03::before {
  top: 50%;
  left: myrem(4);
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);


  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    left: myrem(70);
  }
}

.c-heading01--large03::after {
  font-size: myrem(36);
  top: myrem(-37);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
    left: myrem(70);
  }
}

/***************************
// その他　共通タイトル用
***************************/
// .c-heading01--message,
// .c-heading01--works,
// .c-heading01--service,
// .c-heading01--profile,
// .c-heading01--news,
// .c-heading01--voice,
// .c-news-sidebar__title {
//   font-size: myrem(14);
//   letter-spacing: 0.02em;
//   padding-left: myrem(30);
//   top: 0;

//   @include mq(md) {
//     font-size: myrem(16);
//     padding-left: myrem(117);
//   }
// }

// .c-heading01--message::before,
// .c-heading01--works::before,
// .c-heading01--service::before,
// .c-heading01--profile::before,
// .c-heading01--profile02::before,
// .c-heading01--news::before,
// .c-heading01--voice::before,
// .c-news-sidebar__title::before {
//   top: 50%;
//   left: myrem(4);
//   width: myrem(16);
//   height: myrem(2);

//   @include mq(md) {
//     width: myrem(32);
//     height: myrem(4);
//     left: myrem(70);
//   }
// }

// .c-heading01--message::after,
// .c-heading01--works::after,
// .c-heading01--service::after,
// .c-heading01--profile::after,
// .c-heading01--news:after,
// .c-heading01--voice::after,
// .c-news-sidebar__title::after {
//   font-size: myrem(36);
//   top: myrem(-37);
//   left: 0;

//   @include mq(md) {
//     font-size: myrem(60);
//     top: myrem(-58);
//     left: myrem(70);
//   }
// }

// .c-heading01--serviceH3 {
//   font-size: myrem(14);
//   letter-spacing: 0.02em;
//   padding-left: myrem(30);
//   top: 0;

//   @include mq(md) {
//     font-size: myrem(16);
//     padding-left: myrem(42);
//   }
// }

// .c-heading01--serviceH3::before {
//   top: 50%;
//   left: myrem(4);
//   width: myrem(16);
//   height: myrem(2);

//   @include mq(md) {
//     width: myrem(32);
//     height: myrem(4);
//     left: 0;
//   }
// }

// .c-heading01--serviceH3::after {
//   font-size: myrem(36);
//   top: myrem(-37);
//   left: 0;

//   @include mq(md) {
//     font-size: myrem(60);
//     top: myrem(-58);
//     left: 0;
//   }
// }

// .c-heading01--profile02 {
//   font-size: myrem(14);
//   letter-spacing: 0.06em;
//   top: myrem(-95);
//   left: myrem(28);
//   padding-left: myrem(22);

//   @include mq(md) {
//     font-size: myrem(16);
//     padding-left: myrem(117);
//     top: myrem(10);
//     left: myrem(0);
//     margin: 0 auto;
//   }
// }

// .c-heading01--profile02::before {
//   top: myrem(10);
//   left: myrem(-4);
//   width: myrem(16);
//   height: myrem(2);
//   background: linear-gradient(to right, $black 50%, $white 50%);

//   @include mq(md) {
//     width: myrem(32);
//     height: myrem(4);
//     left: myrem(70);
//   }
// }

// .c-heading01--profile02::after {
//   font-size: myrem(36);
//   top: myrem(-36);
//   left: myrem(-10);

//   @include mq(md) {
//     font-size: myrem(50);
//     top: myrem(-60);
//     left: myrem(70);
//     letter-spacing: 0.02em;
//   }
// }

/***************************
サイドバー用
***************************/
// .c-heading01--sidebar {
//   margin-top: myrem(30);
//   padding-left: myrem(27);
//   font-size: myrem(14);

//   @include mq(md) {
//     font-size: myrem(16);
//     top: myrem(20);
//     padding-left: myrem(41);
//   }
// }

// .c-heading01--sidebar::before {
//   height: myrem(4);
//   left: myrem(2);
//   top: 50%;
//   transform: translateY(-50%);

//   @include mq(md) {
//   }
// }

// .c-heading01--sidebar::after {
//   font-size: myrem(36);
//   top: myrem(-34);
//   left: 0;
//   letter-spacing: 0;

//   @include mq(md) {
//     font-size: myrem(50);
//     top: myrem(-60);
//   }
// }

