@use "global" as *;

// スライドインする2行の見出し

.c-heading02 {
  font-weight: 700;
  font-size: myrem(18);
  line-height: calc(30 / 18);
  letter-spacing: 0.099em;

  @include mq(md) {
    font-weight: 800;
    font-size: myrem(34);
    line-height: calc(54 / 34);
    letter-spacing: 0.1em;
    color: #252525;
  }
}
.c-heading02--black {
  position: relative;
  width: fit-content;
  height: myrem(35);
  font-weight: 900;
  font-size: myrem(18);
  line-height: 1;
  color: $white;
  padding: 0 myrem(6);
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: myrem(6);
  z-index: 0; 

  @include mq(md) {
    height: myrem(52);
    font-weight: 800;
    font-size: myrem(34);
    line-height: calc(54 / 34);
    padding: 0 myrem(8);
  }
}

.c-heading02--black::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;   
  height: 100%;  
  background: linear-gradient(to right, #000 0%, #929292 100%);
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}
