@use "global" as *;

.c-heading {
  width: 100%;
  padding: 0 myrem(20);
  position: relative;

  @include mq(md) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }
}

/********************************
 c-heading01 英語と日本語 2色の線の装飾
********************************/

.c-heading01 {
  font-family: $font-main;
  color: $black_sub;
  font-weight: bold;
  letter-spacing: 0.06em;
  display: inline-block;
  position: absolute;

  @include mq(md) {
    max-width: $innerWidth;
    padding: 0 myrem(70);
  }
}

.c-heading01::before {
  content: "";
  position: absolute;
  left: myrem(0);
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, $black_base 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
  }
}

.c-heading01::after {
  content: attr(data-en);
  display: block;
  color: $black;
  font-family: $font-sub;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  position: absolute;

  @include mq(md) {
  }
}

// 背景色$black_base用の　装飾線
.c-heading01--lineWhite::before {
  content: "";
  background: linear-gradient(to right, $black 50%, $white 50%);
}

/***************************
ページ下　contact/faq　用
***************************/
.c-heading01--white {
  width: fit-content;
  font-size: myrem(13);
  color: $white;
  top: 50%;
  left: myrem(20);
  padding-left: myrem(30);

  @include mq(md) {
    font-size: myrem(16);
    top: 56%;
    left: myrem(70);
    padding: 0 myrem(50);
  }
}

.c-heading01--white::before {
  height: myrem(4);
  top: 50%;
  left: myrem(4);
}

.c-heading01--white::after {
  color: $white;
  font-size: myrem(20);
  bottom: myrem(20);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
  }
}

.c-heading01--whiteCenter {
  text-align: center;
  padding: 0;
  color: $white;
}

.c-heading01--whiteCenter::before {
  bottom: myrem(20);
  left: 50%;
  transform: translateX(-50%);
  color: $white;

  @include mq(md) {
    left: 0;
    transform: translateX(0);
  }
}

.c-heading01--whiteCenter::after {
  left: 50%;
  transform: translateX(-50%);
  bottom: myrem(30);
  color: $white;

  @include mq(md) {
    transform: translateX(0);
    bottom: myrem(-20);
  }
}

/***************************
// spタイトル用
***************************/
.c-heading01--message,
.c-heading01--works,
.c-heading01--service,
.c-heading01--news,
.c-news-sidebar__title {
  font-size: myrem(14);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(117);
  }
}

.c-heading01--message::before,
.c-heading01--works::before,
.c-heading01--service::before,
.c-heading01--news::before,
.c-news-sidebar__title {
  top: 50%;
  left: myrem(4);
  width: myrem(16);
  height: myrem(2);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    left: myrem(70);
  }
}

.c-heading01--message::after,
.c-heading01--works::after,
.c-heading01--service::after,
.c-heading01--news:after,
.c-news-sidebar__title {
  font-size: myrem(36);
  top: myrem(-37);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
    left: myrem(70);
  }

  @include mq(md) {
    font-size: myrem(60);
  }
}

/***************************
サイドバー用
***************************/
.c-heading01--sidebar {
  margin-top: myrem(30);
  padding-left: myrem(27);
  font-size: myrem(14);



  @include mq(md) {
    font-size: myrem(16);
  }
}

.c-heading01--sidebar::before {
  height: myrem(4);
  left: myrem(2);
  top: 50%;
  transform: translateY(-50%);

}

.c-heading01--sidebar::after {
  font-size: myrem(36);
  top: myrem(-34);
  left: 0;

    @include mq(md) {
      font-size: myrem(50);
    }
}

/***************************
  c-heading02 背景黒グラデーション
  ***************************/
.c-heading02 {
  font-family: $font-main;
  font-size: myrem(20);
  font-weight: 900;
  letter-spacing: 0.06em;
  width: fit-content;
  padding: myrem(4) myrem(5) myrem(5);
  margin-top: myrem(5);
  color: $white;
  background: linear-gradient(to right, #000 0%, #929292 100%);

  @include mq(md) {
    font-size: myrem(34);
    margin-top: myrem(0);
  }
}
