@use "global" as *;

/***************************************
c-heading01 英語と日本語 2色(黒・白)の線の装飾
****************************************/

.c-heading01 {
  width: 100%;
  font-family: $font-main;
  color: $black_sub;
  font-size: myrem(13);
  line-height: calc(16 / 13);
  font-weight: bold;
  letter-spacing: 0.06em;
  display: inline-block;
  position: relative;
  padding-left: myrem(26);

  @include mq(md) {
    width: 100%;
    font-size: myrem(16);
    margin: 0 auto;
    padding-left: myrem(42);
  }
}

.c-heading01::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: myrem(16);
  height: myrem(4);
  background: linear-gradient(to right, $black 50%, $white 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
  }
}

.c-heading01--linegray::before {
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);
}


.c-heading01::after {
  content: attr(data-en);
  display: block;
  color: $black;
  font-family: $font-sub;
  font-size: myrem(28);
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  position: absolute;
  top: myrem(-32);
  left: myrem(-4);

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-60);
  }
}

//pc サイドバー用　英語のサイズ違い
.c-heading01--sidebar::after {
  @include mq(md) {
    font-size: myrem(50);
    top: myrem(-65);
    left: myrem(0);
  }
}

//背景色$black_base用の　装飾線の色違い
.c-heading01--lineWhite {
  font-size: myrem(13);
  letter-spacing: 0.06em;
  padding-left: myrem(30);

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(45);
    margin: 0 auto;
  }
}

.c-heading01--lineWhite::before {
  content: "";
  background: linear-gradient(to right, $black 50%, $white 50%);
  top: 50%;
  @include mq(md) {
    top: 45%;
    left: 0;
  }
}

.c-heading01--lineWhite::after {
  font-size: myrem(28);
  top: myrem(-32);
  left: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-60);
    left: 0;
  }
}

//フロントページ service　用 テキストの色違い
.c-heading01--white {
  width: fit-content;
  font-size: myrem(13);
  color: $white;
  padding-left: myrem(30);

  @include mq(md) {
    font-size: myrem(16);
    padding: 0 myrem(40);
    padding-left: myrem(50);
  }
}

.c-heading01--white::before {
  height: myrem(4);
  top: 50%;
  left: myrem(4);
  background: linear-gradient(to right, $black_sub 50%, $white 50%);

  @include mq(md) {
    left: myrem(10);
  }
}

.c-heading01--white::after {
  color: $white;
  font-size: myrem(28);
  top: myrem(-45);
  left: 0;
  letter-spacing: 0;

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-60);
  }
}

//fontサイズ違い 装飾線（$blacｋ #f5f5f5)
.c-heading01--large01 {
  font-size: myrem(14);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;
  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(117);
  }
}

.c-heading01--large01::before {
  top: 50%;
  margin-left: myrem(-26);
  position: absolute;

  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
  }
}

.c-heading01--large01::after {
  font-size: myrem(36);
  top: myrem(-37);

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
  }
}

//fontサイズ違い 装飾線（$blacｋ #white)
.c-heading01--large02 {
  font-size: myrem(14);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(42);
  }
}

.c-heading01--large02::before {
  top: 50%;
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, $white 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    left: myrem(0);
  }
}

.c-heading01--large02::after {
  font-size: myrem(36);
  top: myrem(-37);

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
  }
}

//fontサイズ違い 装飾線（$blacｋ #white 英語フォントサイズ違い)
.c-heading01--large02small {
  font-size: myrem(14);
  letter-spacing: 0.06em;
  line-height: 1.5;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(42);
  }
}

.c-heading01--large02small::before {
  top: 20%;
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, $white 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
    top: 50%;
  }
}

.c-heading01--large02small::after {
  font-size: myrem(36);
  top: myrem(-37);

  @include mq(md) {
    font-size: myrem(50);
    top: myrem(-62);
  }
}

//日本語　fontサイズ違い
.c-heading01--large03 {
  font-size: myrem(16);
  letter-spacing: 0.02em;
  padding-left: myrem(30);
  top: 0;

  @include mq(md) {
    font-size: myrem(16);
    padding-left: myrem(42);
  }
}

.c-heading01--large03::before {
  top: 50%;
  width: myrem(16);
  height: myrem(2);
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
  }
}

.c-heading01--large03::after {
  font-size: myrem(36);
  top: myrem(-37);

  @include mq(md) {
    font-size: myrem(60);
    top: myrem(-58);
  }
}
