@use "global" as *;

.c-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: myrem(22);

  @include mq(md) {
    gap: myrem(25);
  }
}

.c-meta__date {
  font-family: "Noto Sans JP";
  font-weight: 700;
  font-size: myrem(16);
  line-height: 170%;
  letter-spacing: 0;
  color: $black;

  @include mq(md) {
    font-size: myrem(16);
  }
}

.c-meta__category {
  width: myrem(80);
  height: myrem(25);
  font-size: myrem(14);
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1;
  font-family: $font-main;
  color: $white;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  

    @include mq(md) {

    }
}

/***************************
ページ　news用
***************************/
.c-meta--front .c-meta__category {
    width: fit-content;
    
  font-size: myrem(14);
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: calc(28 / 14);
  font-family: $font-main;
  color: $white;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: myrem(15);
  border-radius: myrem(15);

}
