@use "global" as *;

.c-news-sidebar {
  padding: inherit;
  padding-top: myrem(85);
  padding-bottom: myrem(65);

  @include mq(md) {
    padding-top: myrem(60);
  }
}

.c-news-sidebar__archive {
  margin-top: myrem(95);

  @include mq(md) {
    margin-top: myrem(240);
  }
}

.c-news-sidebar__list {
  margin-top: myrem(15);

  @include mq(md) {
    margin-top: myrem(20);
    height: myrem(78);
  }
}

.c-news-sidebar-list__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: myrem(14);
  line-height: 1;
  letter-spacing: 0.1em;
  color: $black;
  border-bottom: 1px solid #f5f5f5;
  padding: myrem(15) 0;

  @include mq(md) {
    padding: myrem(10) 0;
  }
}

.c-news-sidebar-list-item__link {
  height: myrem(27);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-news-sidebar-list-item__link--arrow {
  position: relative;
  display: inline-block;
  width: myrem(7);
  height: myrem(10);
}

.c-news-sidebar-list-item__link--arrow::before,
.c-news-sidebar-list-item__link--arrow::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: myrem(3);
  width: 9px;
  height: 2px;
  border-radius: 9999px;
  background-color: #000000;
  transform-origin: calc(100% - 1px) 50%;
}

.c-news-sidebar-list-item__link--arrow::before {
  transform: rotate(40deg);
}

.c-news-sidebar-list-item__link--arrow::after {
  transform: rotate(-40deg);
}
