@use "global" as *;






.c-news-list__post {
  width: 100%;
  border-bottom: 2px solid #f5f5f5;

  @include mq(md) {
  }
}


.c-news-list-post__title {
  padding: myrem(12) 0 myrem(0);
  font-weight: 500;
  font-size: myrem(16);
  line-height: calc(27 / 16);
  color: $black;
  border-bottom: 1px solid #f5f5f5;

  @include mq(md) {
    padding: myrem(10) 0 myrem(15);
  }

}

.c-news-list__pagenavi--sp {
  margin-top: myrem(55);
}

/***********************************
フロントページ news
***********************************/

.c-news-list__link--front {
border-bottom: 1px solid #000;
margin-top: myrem(27);
padding-bottom: myrem(15);
display: block;
}

.c-news-list__link--front + .c-news-list__link--front {

margin-top:myrem(27);

  @include mq(md) {
    padding-top: 0;

  }

}

.p-front-news-inner__content .c-news-list-post__title {
  // padding: myrem(7) 0 myrem(18);
  // font-weight: 500;
  // font-size: myrem(16);
  // line-height: calc(28 / 16);
  // letter-spacing: 0.06em;
  // color: $black;
  // border-bottom: 1px solid #959595;

  // @include mq(md) {
  //   padding: myrem(10) 0 myrem(15);
  // }

}


