@use "global" as *;

.c-return {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: myrem(10);

  @include mq(md) {
    gap: myrem(12);
    font-size: myrem(18);
    letter-spacing: 0.1em;
  }
}
.c-return--single-news {
  margin-top: myrem(30);
  font-size: myrem(18);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: myrem(85);
}

.c-return--single-voice {
  display: none;

  @include mq(md) {
    display: flex;
  }
}

.c-return--single-works {
  width: fit-content;
  font-size: myrem(18);
  margin-left: auto;
  margin-right: 0;
  letter-spacing: 0.1em;
}
