@use "global" as *;

.c-readMore {
  display: flex;
  justify-content: flex-end;
  gap: myrem(10);
  align-items: center;
  font-family: $font-sub;
  font-weight: 500;
  font-size: myrem(22);
  letter-spacing: 0.1em;
  color: $black;
  padding: myrem(10) 0;
}

.c-readMore--white {
  color: $white;
}

.c-readMore--thanks {
  font-family: "Open Sans";
  font-weight: 800;
  font-size: myrem(20);
  line-height: calc(20 / 18);
  padding: myrem(20) myrem(50) myrem(20) myrem(70);
  border: 2px solid $black;
  border-radius: myrem(40);

  @include mq(md) {
    letter-spacing: 0.1em;
    gap: myrem(3);
  }
}
