@use "global" as *;

.c-return {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: myrem(10);

  @include mq(md) {
    gap: myrem(12);
    font-size: myrem(18);
    letter-spacing: 0.1em;
  }
}



.c-return--single-news {
  font-size: myrem(16);
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: myrem(22);
  margin-inline: auto;
  padding: myrem(10);
  gap: myrem(5);

  @include mq(md) {
    margin-top: myrem(70);
    gap: myrem(10);
    font-size: myrem(18);
  }
}

.c-return--single-voice {
  display: none;

  @include mq(md) {
    display: flex;
  }
}

.c-return--single-works {
  width: fit-content;
  font-size: myrem(18);
  margin-left: auto;
  margin-right: 0;
  letter-spacing: 0.1em;
}
