@use "global" as *;

.c-single-page-nation {
  width: 100%;
  max-width: myrem(335);
  display: flex;
  justify-content: space-between;
  gap: myrem(0);
  margin: 0 auto;
  font-weight: 700;

  @include mq(md) {
    max-width: myrem(360);
    margin: 0 auto;
  }
}

.c-single-page-nation a:hover {
  opacity: 1;

}

.c-single-page-nation__prev,
.c-single-page-nation__next {
  display: flex;
  justify-content: center;
  align-items: center;

}

.c-single-page-nation__prev::before,
.c-single-page-nation__next::after {
  content: "";
  width: myrem(40);
  height: myrem(40);
  font-size: myrem(20);
  border: 2px solid $black;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.c-single-page-nation__prev::before {
  content: "<";
  margin-right: myrem(10);
}

.c-single-page-nation__next::after {
  content: ">";
  margin-left: myrem(10);
}


.c-single-page-nation__prev:hover::before,
.c-single-page-nation__next:hover::after {
  @include mq(md) {
    background-color: $black; // 背景色を黒に
    color: $white;           // 矢印の色を白に
    opacity: 1;
  }
}
