@use "global" as *;

.c-service__title {
    display: block;
    position: relative;
    font-family: $font-main;
    color: $black_sub;
    font-size: myrem(14);
    line-height: calc(16 / 14);
    font-weight: bold;
    letter-spacing: 0.06em;
    padding-left: myrem(50);
  
    @include mq(md) {
      width: 100%;
      max-width: 1440px;
      font-size: myrem(16);
      margin: 0 auto;
      padding-inline: myrem(110);
    }
  }
  .c-service__title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: myrem(23);
    transform: translateY(-50%);
    width: myrem(16);
    height: myrem(2);
    background: linear-gradient(to right, $black 50%, $white 50%);
  
    @include mq(md) {
      width: myrem(32);
      height: myrem(4);
      top: 60%;
      left: myrem(70);
    }
  }
  
  .c-service__title::after {
    content: attr(data-en);
    display: block;
    color: $black;
    font-family: $font-sub;
    font-size: myrem(36);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    position: absolute;
    top: myrem(-40);
    left: myrem(20);
  
    @include mq(md) {
      font-size: myrem(60);
      top: myrem(-60);
      left: myrem(70);
    }
  }
  
  .c-service__title--faq::before {
   @include mq(md) {
     left: myrem(0);
   } 
  }
  
  .c-service__title--faq::after {
  @include mq(md) {
    left:myrem(-5)
  }
  }
  