@use "global" as *;

// 見出し
.c-subtitle {
  width: fit-content;
  font-family: $font-main;
  font-weight: 900;
  font-size: myrem(20);
  line-height: calc(28 / 20);
  letter-spacing: 0.06em;
  font-feature-settings: "palt" on;
  color: $black;
  display: block;

  @include mq(md) {
    font-size: myrem(34);
  }
}

.c-subtitle--line1 {
  padding: myrem(6) myrem(0);
  display: block;

  @include mq(md) {
    letter-spacing: 0.2em;
    padding: myrem(5) myrem(10) myrem(3);
  }
}

.c-subtitle--line2 {
  width: fit-content;
  height: myrem(33);
  color: $white;
  font-size: myrem(18);
  line-height: calc(30 / 18);
  font-weight: 900;
  letter-spacing: 0.17em;
  background: linear-gradient(to right, #000 0%, #929292 100%);
  display: flex;
  align-items: center;
  padding: 0 myrem(10);

  @include mq(md) {
    // margin-top: myrem(5);
    font-size: myrem(34);
    letter-spacing: 0.2em;
    padding: myrem(0) myrem(15);
  }
}

// フロントページ用
.p-front-container-content .c-subtitle--line2,
.p-front-container__message .c-subtitle--line2 {
  width: fit-content;
  padding: myrem(2) myrem(0) myrem(3) myrem(7);
  margin-top: myrem(5);

  @include mq(md) {
    padding: myrem(9) myrem(0) myrem(12) myrem(7);
    font-size: myrem(34);
    line-height: 1;
    letter-spacing: 0.1em;
    margin-top: myrem(0);

  }
}
