@use "global" as *;

.c-single-page-nation {
  width: 100%;
  max-width: myrem(335);
  display: flex;
  justify-content: space-between;
  gap: myrem(0);
  margin: 0 auto;

  @include mq(md) {
    max-width: myrem(360);
    margin: 0 auto;
  }
}

.c-single-page-nation__link {
  display: flex;
  align-items: center;
  gap: myrem(10);
  font-weight: bold;
  text-decoration: none;
  padding: myrem(10) 0;
  transition: 0.3s;
}

.c-single-page-nation__link:hover {

  @include mq(md) {
    
    background-color: #f5f5f5;
  }
}

.c-single-page-nation__link img {
  width: myrem(16);
  height: auto;
  letter-spacing: 0;
}

.c-single-page-nation__prev .c-arrow02__left {
  order: 0;
}
.c-single-page-nation__next .c-arrow02__right {
  order: 1;
}
