@use "global" as *;

// 関連記事　swiper

.c-related-swiper {
  position: relative;
  
  @include mq(md) {
    margin-left: myrem(-34);
  }
}

.c-related-swiper .swiper-wrapper {
  transition-timing-function: linear;
}

.c-related-swiper .swiper-slide {
  max-width: myrem(257);
  transition: transform 0.4s ease;
  margin-left: myrem(20);

  @include mq(md) {
    width: myrem(340);
    max-width: 340px;
    max-height: 300px;
    margin-left: 0;
    margin-right: myrem(50);
  }
}

.c-related-swiper__card {
  width: 100%;
  height: 100%;
  position: relative;
}

.c-related-swiper-card__label {
  width: myrem(100);
  height: myrem(300);
  color: $white;
  background-color: $black;
  font-size: myrem(12);
  font-family: "Open Sans";
  font-weight: 800;
  line-height: calc(28 / 12);
  letter-spacing: 0.1em;
  height: myrem(25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;

  @include mq(md) {
    height: myrem(30);
    padding: myrem(0) myrem(13);
  }
}

.c-related-swiper-card__image {
  width: 100%;
  overflow: hidden;

  @include mq(md) {
    // padding-left: myrem(21);
  }
}

.c-related-swiper-card__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 257 / 173;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 340 / 230;
  }
}

.c-related-swiper-card__image:hover img {
  transform: scale(1.1);
  transition: 1s all;
}

.c-related-swiper-card__summary {
  width: calc(234 / 257 * 100%);
  background-color: $white;
  transform: translateY(-32%);
  padding-bottom: myrem(10);

  @include mq(md) {
    width: calc(310 / 340 * 100%);
    aspect-ratio: 310 / 100;
  }
}

.c-related-swiper-card__summary-text {
  max-height: 75.6px;
  font-family: $font-main;
  font-weight: 500;
  font-size: myrem(14);
  line-height: 1.8;
  letter-spacing: 0.06em;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  padding: myrem(10) myrem(6) myrem(10) myrem(12);

  @include mq(md) {
    max-height: 100px;
    padding-top: myrem(15);
    line-height: calc( 24 / 14 ); 
  }
}

.c-related-swiper__nav {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  gap: myrem(15);
  z-index: 10;
  padding: 0 myrem(20);
  margin-top: myrem(5);
  margin-right: 0;
  margin-left: auto;

  @include mq(md) {
    gap: myrem(30);
    margin-top: myrem(25);
    margin-right: myrem(70);
    padding-right: myrem(8);
  }
}

.c-related-swiper-nav__prev,
.c-related-swiper-nav__next {
  width: myrem(50);
  height: myrem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.c-related-swiper-nav__prev {
  left: myrem(18);
}

.c-related-swiper-nav__next {
  right: myrem(22);
}

.c-related-swiper-nav__prev:hover {
  transform: scale(1.1);
}

.c-related-swiper-nav__next:hover {
  transform: scale(1.1);
}
