@use "global" as *;

// slide アニメーションが崩れるので入れ子にしてあります
.c-slide {
  overflow: hidden;
  position: relative;

  .c-slide-track {
    display: flex;
    width: max-content;
    animation: slideX 60s linear infinite;
  }

  .c-slide-item {
    width: auto !important;
  }

  .c-slide-row1,
  .c-slide-row2 {
    display: grid;
    column-gap: myrem(20);

    @include mq(md) {
      column-gap: myrem(20);
      margin-top: myrem(77);
    }
  }

  .c-slide-row1 {
    grid-template-columns: myrem(290) myrem(904);

    @include mq(md) {
      grid-template-columns: myrem(310) myrem(972);
    }
  }

  .c-slide-row2 {
    grid-template-columns: myrem(614) myrem(580);
    margin-top: myrem(18);

    @include mq(md) {
      grid-template-columns: myrem(622) myrem(620);
    }
  }

  .c-slide-image1,
  .c-slide-image2,
  .c-slide-image3,
  .c-slide-image4 {
    width: 100%;
    height: myrem(182);

    @include mq(md) {
      height: myrem(200);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .c-slide-image1,
  .c-slide-image3 {
    aspect-ratio: 290 / 187;

    @include mq(md) {
      aspect-ratio: 310 / 200;
    }
  }

  .c-slide-image2,
  .c-slide-image4 {
    aspect-ratio: 580 / 187;

    @include mq(md) {
      aspect-ratio: 972 / 200;
    }
  }

  .c-slide-image1 img {
    justify-self: end;
  }

  .c-slide-image2 img {
    width: calc(580 / 904 * 100%);

    @include mq(md) {
      width: calc(620 / 972 * 100%);
      justify-self: start;
    }
  }

  .c-slide-image3 img {
    width: calc(290 / 614 * 100%);
    justify-self: end;

    @include mq(md) {
      width: calc(310 / 622 * 100%);
    }
  }

  .c-slide-image4 img {
    // width: 100%; ← 継承されてるので不要でもOK
  }
}

@keyframes slideX {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
