@use "global" as *;

.p-404 {
  text-align: center;
  padding-top: myrem(136);
  padding-bottom: myrem(60);
  color: $black;

  @include mq(md) {
    padding-top: myrem(277);
    padding-bottom: myrem(110);
  }
}

.p-404__main {
  font-family: $font-sub;
  font-weight: 500;
  font-size: myrem(24);
  line-height: calc(28 / 24);
  letter-spacing: 0.05em;

  @include mq(md) {
    font-size: myrem(60);
  }
}

.p-404__sub {
  margin-top: myrem(20);
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(14);
  line-height: calc(24 / 14);
  letter-spacing: 0.04em;

  @include mq(md) {
    margin-top: myrem(37);
    font-size: myrem(24);
  }
}

.p-404__return {
  width: myrem(300);
  height: myrem(60);
  max-height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  border: 2px solid $black;
  border-radius: 50px;
  background-color: $white;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: myrem(20);
  letter-spacing: 0.1em;
  margin-top: myrem(60);
  margin-inline: auto;

  @include mq(md) {
    margin-top: myrem(50);
  }
}

.p-404__return::after {
  content: "";
  position: absolute;
  right: myrem(60);
  top: 50%;
  transform: translateY(-50%);
  width: myrem(15);
  height: myrem(15);
  background-color: $black;
  clip-path: polygon(0 0, 0 100%, 80% 50%);
}
