@use "global" as *;

.p-archive-news {
  @include mq(md) {
    padding-bottom: myrem(110);
  }
}

.p-archive-news__mv {
  padding-top: myrem(175);

  @include mq(md) {
    padding-top: myrem(245);
  }
}

.p-archive-news-mv-inner__breadcrumbs {
  margin-right: myrem(-20);
  margin-top: myrem(50);

  @include mq(md) {
    margin-top: myrem(10);
  }
}

.p-archive-news__wrapper {
  @include mq(md) {
    max-width: 1440px;
    padding-right: myrem(70);
    padding-left: myrem(70);
    margin: 0 auto;
    // margin-top: myrem(50);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: myrem(30);
    padding-bottom: myrem(100);
  }
}

.p-archive-news-wrapper__list {
  margin-top: myrem(50);

  @include mq(md) {
    padding: 0;
    margin-top: myrem(73);
    width: calc(950 / 1300 * 100%);
  }
}

.p-archive-news-wrapper-list__item {
  width: 100%;

  @include mq(md) {
    width: myrem(910);
  }
}

.p-archive-news-wrapper-list__item:not(:first-child) {
  margin-top: myrem(30);
}

.p-archive-news-wrapper__sidebar {
  margin-top: myrem(10);
  

  @include mq(md) {
    width: myrem(320);
    margin-top: myrem(70);
    position: sticky;
    top: myrem(20);
    align-self: flex-start;
  }
}

