@use "global" as *;

.p-cta {
  width: 100%;

  @include mq(md) {
    display: flex;
  }
}

.p-cta__inner {
  width: 100%;
  height: myrem(225);

  position: relative;
  overflow: hidden;

  @include mq(md) {
    width: 50%;
    height: myrem(410);


  }
}

.p-cta__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.p-cta__inner--contact::before {
  content: "";
  background: url("../images/image28.png") no-repeat center center / cover;
}

.p-cta__inner--faq::before {
  content: "";
  background: url("../images/image29.png") no-repeat center center / cover;
}

.p-cta__inner:hover::before {
  
  @include mq(md) {
    
    transform: scale(1.1);
    opacity: 1;
  }
}


.p-cta__inner::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.p-cta__inner:hover {
  
  @include mq(md) {
    
    opacity: 1;
  }
}
.p-cta-inner-item__title {
  position: absolute;
  top: 45%;
  z-index: 10;

  @include mq(md) {
    top: 55%;
  }
}

.p-cta-inner__item {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.p-cta-inner-item-title__text {
  width: fit-content;
  font-size: myrem(13);
  color: $white;
  left: myrem(20);
  padding-left: myrem(30);
  position: relative;

  @include mq(md) {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-size: myrem(16);
    top: 56%;
    left: myrem(70);
    padding: 0 myrem(50);
  }
}

.p-cta-inner-item-title__text::before {
  content: "";
  top: 50%;
  left: myrem(4);
  position: absolute;
  left: myrem(0);
  width: myrem(16);
  height: myrem(4);
  background: linear-gradient(to right, #929292 50%, $white 50%);

  @include mq(md) {
    width: myrem(32);
    height: myrem(4);
  }
}

.p-cta-inner-item-title__text::after {
  content: attr(data-en);
  display: block;
  color: $white;
  font-size: myrem(20);
  bottom: myrem(20);
  left: 0;
  letter-spacing: 0;
  font-family: $font-sub;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  position: absolute;

  @include mq(md) {
    font-size: myrem(60);
  }
}

.p-cta__inner::before,
.p-cta__inner::after {
  pointer-events: none;
}

.p-cta-inner__item {
  position: relative;
  z-index: 1;
}
