@use "global" as *;

.p-footer {
  color: $white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, #000000 0%, #929292 100%);
  padding: myrem(60) myrem(30) myrem(30);

  @include mq(md) {
    padding: myrem(62) myrem(70) myrem(19);
  }
}

.p-footer-inner {
  @include mq(md) {
    width: 100%;
    max-width: $innerWidth;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }
}

.p-footer-inner__wrapper {


  @include mq(md) {
    width: 50%;
  }
}

.p-footer-inner-wrapper__title {
  font-size: myrem(38);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: $font-sub;
  font-weight: 500;
  padding: myrem(10);

  @include mq(md) {
    padding: myrem(10) myrem(10) myrem(10) 0;
  }
}

.p-footer-inner-wrapper__sns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin-top: myrem(15);
  margin-left: myrem(10);

  @include mq(md) {
    margin-left: 0;
  }
}

.p-footer-inner-wrapper-sns__item {
  width: myrem(60);
  height: myrem(50);
  display: block;
  padding: myrem(10) myrem(30) myrem(10) 0;
}

.p-footer-inner-wrapper-sns__item--x {
  width: myrem(57);
}

.p-footer-inner-wrapper-sns__item--instagram {
  width: myrem(56);
}

.p-footer-inner-wrapper-sns__item--facebook {
  width: myrem(44);
}

.p-footer-inner-wrapper-sns__item img {
  width: myrem(30);
  height: myrem(30);
  object-fit: contain;
  aspect-ratio: 1 /1;
}

.p-footer-inner-wrapper__privacy {
  margin-top: myrem(30);
  margin-left: myrem(10);

  @include mq(md) {
    margin-top: myrem(40);
    margin-left: 0;
}
}

.p-footer-inner-wrapper__privacy > a {
  font-family: "Open Sans", sans-serif;
  font-size: myrem(12);
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: myrem(10) myrem(10) myrem(10) 0;

  @include mq(md) {
    margin-top: myrem(57);
  }
}

.p-footer-nav {
  width: 100%;
  padding: 0 myrem(10);

  @include mq(md) {
    width: 50%;
    padding: myrem(0) 0 myrem(0) myrem(18);
  }
}

.p-footer-nav__list {
  margin-top: myrem(40);
  width: 100%;

  @include mq(md) {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // column-gap: myrem(90);
    margin-top: 0;
  }
}

.p-footer-nav__item {
  border-bottom: 1px solid $white;

  @include mq(md) {
    border: none;
  }
}

.p-footer-nav__item a {
  height: 100%;
  padding: myrem(20) 0;
}

.p-footer-nav__item:nth-child(2),
.p-footer-nav__item:nth-child(6) {
    @include mq(md) {
      padding-left: myrem(35);
    }
}

.p-footer-nav__item:nth-child(3),
.p-footer-nav__item:nth-child(7) {
    @include mq(md) {
      padding-left: myrem(65);
    }
}

.p-footer-nav__item:nth-child(4),
.p-footer-nav__item:nth-child(8) {
    @include mq(md) {
      padding-left: myrem(95);
    }
}


.p-footer-nav__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;

  @include mq(md) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.p-footer-nav__en {
  width: myrem(112);
  font-family: $font-sub;
  font-size: myrem(20);
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: myrem(30);
  text-transform: uppercase;

  @include mq(md) {
    width: fit-content;
    font-size: myrem(20);
  }
}

.p-footer-nav__ja {
  font-family: "Open Sans", sans-serif;
  font-size: myrem(12);
  font-weight: 800;
  letter-spacing: 0.1em;

    @include mq(md) {
      font-size: myrem(12);

    }
}

.p-footer__copyright {
  font-family: "Open Sans", sans-serif;
  font-size: myrem(12);
  font-weight: 800;
  text-align: center;
  margin-top: myrem(56);

  @include mq(md) {
    margin-top: myrem(80);
  }
}
