@use "global" as *;

/***********************************
フロントページのfv
***********************************/
.p-front-fv {
  width: 100%;
  height: myrem(600);
  position: relative;

  @include mq(md) {
    height: myrem(750);
  }
}

// swiper
.p-front-fv-swiper .swiper-wrapper {
  @include mq(md) {
    height: myrem(750);
  }
}

.p-front-fv-swiper .swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mq(md) {
    aspect-ratio: 1440 / 750;
  }
}

.p-front-fv-swiper .swiper-slide img {
  width: 100%;
  height: myrem(600);
  object-fit: cover;
  display: block;

  @include mq(md) {
    height: myrem(750);
  }
}

// テキスト部分
.p-front-fv__text {
  width: fit-content;
  min-height: myrem(240); /* テキストの高さを先に確保する */
  position: absolute;
  top: 50%;
  transform: translateY(-37%);
  left: calc(21 / 375 * 100%);
  z-index: 10;
  color: $white;
  line-height: 1;
  margin: 0 auto;

  @include mq(md) {
    min-height: myrem(240); /* テキストの高さを先に確保する */
    width: fit-content;
    left: myrem(70);
    top: calc(433 / 750 * 100%);
    transform: translate(0, 0);
  }
}

.p-front-fv-text__catch3 {
  width: 100%;
  display: inline-flex;
  align-items: baseline;
  font-family: $font-sub;
  font-weight: 600;
  font-size: myrem(18);
  letter-spacing: 0.1em;
  position: relative;
  gap: myrem(10);
  opacity: 0;
  transform: translateY(myrem(20));
  transition: none;

  @include mq(md) {
    font-size: myrem(40);
    align-items: center;
    margin-left: myrem(10);
  }
}

.p-front-fv-text__catch3.is-animated {
  animation: fadeUp 0.6s ease-out 0.6s forwards;
}

.p-front-fv-text__catch3::after {
  content: "";
  width: 0;
  position: absolute;
  left: myrem(180);
  top: 50%;
  height: 2px;
  background-color: $white;
  display: inline-block;
  pointer-events: none;
  opacity: 0;

  @include mq(md) {
    left: myrem(385);
  }
}

.is-animated.p-front-fv-text__catch3::after {
  opacity: 1;
  animation: underlineGrow-sm 0.6s ease-out 1.2s forwards;

  @include mq(md) {
    animation: underlineGrow-md 0.6s ease-out 1.2s forwards;
  }
}

// キャッチコピー英語部分のアニメーション
// 線を左から右へ伸ばす
@keyframes underlineGrow-sm {
  0% {
    width: 0;
  }
  100% {
    width: myrem(125);
  }
}

@keyframes underlineGrow-md {
  0% {
    width: 0;
  }
  100% {
    width: myrem(230);
  }
}

// テキストを下からフェードアップ
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(myrem(20));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.p-front-fv-text__catch1 {
  font-family: $font-main;
  font-size: myrem(44);
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-top: myrem(15);

  @include mq(md) {
    font-size: myrem(74);
    margin-top: myrem(10);
  }
}

.p-front-fv-text__catch1--small {
  font-size: myrem(32);
  margin-left: myrem(-10);
  @include mq(md) {
    font-size: myrem(62);
  }
}

.p-front-fv-text__catch2 {
  font-family: $font-main;
  font-size: myrem(52);
  font-weight: 700;
  letter-spacing: -0.03em;
  margin-top: myrem(10);

  @include mq(md) {
    font-size: myrem(99);
    font-weight: 800;
    margin-top: myrem(15);
  }
}

// スクロールアニメーション
.p-front-fv__scroll {
  display: none;

  @include mq(md) {
    display: block;
    position: absolute;
    bottom: myrem(0);
    right: clamp(4%, 7.3%, 300px);
    width: 2px;
    height: myrem(120);
    background: linear-gradient(
      to bottom,
      $black,
      $black myrem(48),
      $white myrem(48),
      $white 100%
    );
    z-index: 100;
  }
}

.p-front-fv-scroll__text {
  @include mq(md) {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: myrem(16);
    font-family: $font-sub;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: $black;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    padding-bottom: myrem(16);
  }
}

/* アニメーションする縦線 */
.p-front-fv-scroll::after {
  content: "";
  position: absolute;
  top: myrem(48); // ← 開始位置
  left: 0;
  width: 100%;
  height: myrem(72); // 120 - 48
  background-color: $black;
  transform: scaleY(0);
  transform-origin: top;
  animation: drawBlackDown 2s ease-in-out infinite;
}

@keyframes drawBlackDown {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: scaleY(1);
    opacity: 1;
  }

  80% {
    transform: scaleY(1);
    opacity: 1;
  }

  100% {
    transform: scaleY(1); // ← ずっと伸びたまま！
    opacity: 0; // ← ここでフェードアウト！
  }
}

/***********************************
フロントページ works
***********************************/
.p-front-works {
  padding: myrem(45) 0 myrem(40);
  background-color: $black_base;

  @include mq(md) {
    padding: inherit;
    padding-top: myrem(50);
    padding-bottom: myrem(55);
  }
}

.p-front-works__title {
  width: 100%;

  @include mq(md) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.p-front-works__title a {
  width: fit-content;
  padding: myrem(40) myrem(50) myrem(10) myrem(20);
  display: block;

  @include mq(md) {
    margin: 0 auto;
    padding: myrem(65) myrem(151) myrem(10) myrem(70);
    margin-left: 0;
    margin-right: auto;
  }
}

// swiper
.p-front-works-swiper {
  margin-top: myrem(30);
  position: relative;

  @include mq(md) {
    margin-top: myrem(25);
  }
}

.p-front-works-swiper .swiper-wrapper {
  transition-timing-function: linear;
}

.p-front-works-swiper .swiper-slide {
  max-width: myrem(315);

  @include mq(md) {
    max-width: myrem(369);
    margin-left: myrem(20);
  }
}

.p-front-works-swiper__card {
  width: 100%;
  height: 100%;
  position: relative;
}

.p-front-works-swiper-card__label {
  width: fit-content;
  color: $white;
  background-color: $black;
  font-size: myrem(14);
  font-family: "Open Sans";
  font-weight: 800;
  line-height: calc(28 / 14);
  letter-spacing: 0.1em;
  height: myrem(25);
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 0 myrem(6);
  top: 0;
  right: 0;

  @include mq(md) {
    height: myrem(30);
    padding: myrem(0) myrem(13);
  }
}

.p-front-works-swiper-card__image {
  width: 100%;
  aspect-ratio: 315 / 200;
  padding-left: myrem(17);

  @include mq(md) {
    width: myrem(348);
    aspect-ratio: 348 / 236;
    padding-left: myrem(21);
  }
}

.p-front-works-swiper-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-front-works-swiper-card__summary {
  width: calc(257 / 314 * 100%);
  background-color: $white;
  transform: translateY(-20%);
  padding: myrem(8) myrem(20) myrem(10) myrem(17);

  @include mq(md) {
    width: calc(301 / 369 * 100%);
  }
}

.p-front-works-swiper-card__summary-text {
  font-family: $font-main;
  font-weight: 500;
  font-size: myrem(14);
  line-height: calc(26 / 14);
  letter-spacing: 0.06em;
}

.p-front-works-swiper__nav {
  width: 100%;
  height: 100%;
  pointer-events: none; // スライダーに干渉させない
}

.p-front-works-swiper-nav__prev,
.p-front-works-swiper-nav__next {
  position: absolute;
  top: 27%;
  z-index: 10;
  pointer-events: auto; // ボタンはクリックできるように
  cursor: pointer;
}

.p-front-works-swiper-nav__prev {
  left: myrem(18);
}

.p-front-works-swiper-nav__next {
  right: myrem(22);
}

.c-arrow01_left,
.c-arrow01_right {
  display: block;
}

.p-front-works__readMore {
  width: fit-content;
  padding: 0 myrem(20);
  margin-top: myrem(0);
  margin-left: auto;

  @include mq(md) {
    padding: 0 myrem(70);
    margin-top: myrem(-10);
  }
}

/***********************************
フロントページ content
***********************************/
.p-front-content {
  padding: myrem(60) 0 0;
  overflow-x: clip;

  @include mq(md) {
    padding: myrem(110) myrem(70) myrem(115);
  }
}

.p-front-content__wrapper {
  @include mq(md) {
    max-width: $innerWidth;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: myrem(30);
  }
}

//block1
.p-front-content-wrapper__block1 {
  @include mq(md) {
    width: myrem(950);
  }
}

.p-front-content-wrapper-block1__paragraph {
  padding: 0 myrem(20);

  @include mq(md) {
    padding: 0 0 0 myrem(10);
  }
}


.p-front-content-wrapper-block1--paragraph__text {
  font-weight: 900;
  font-size: myrem(18);
  line-height: myrem(30);
  letter-spacing: 0.09em;

  @include mq(md) {
    font-weight: 800;
    font-size: myrem(34);
    line-height: calc(54 / 34);
    letter-spacing: 0.1em;
    color: #252525;
  }
}

.p-front-content-wrapper-block1--paragraph__text:not(:first-child) {
  margin-top: myrem(20);

  @include mq(md) {
    margin-top: myrem(48);
  }
}

.p-front-content-wrapper-block1__image {
  width: 100vw;
  height: myrem(222);
  margin: myrem(60) calc(50% - 50vw) 0;
  aspect-ratio: 375 / 222;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

  @include mq(md) {
    width: 100%;
    height: auto;
    margin: inherit;
    margin-top: myrem(80);
    aspect-ratio: 950 / 370;
  }
}

.p-front-content-wrapper-block1__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-front-content-wrapper-block1__message {
  padding-top: myrem(60);
}

/***********************************
フロントページ message
***********************************/
.p-front-content-wrapper-block1__message {
  padding-top: myrem(60);
  width: 100%;
  grid-area: message;
  position: relative;

  @include mq(md) {
    margin-top: myrem(55);
  }
}

.p-front-content-wrapper-block1-message__title {
  width: 100%;
}

.p-front-content-wrapper-block1-message__title a {
  width: fit-content;
  padding: myrem(30) myrem(40) myrem(10) myrem(20);
  display: block;

  @include mq(md) {
    padding: myrem(60) myrem(160) myrem(10) 0;
  }
}

.p-front-content-wrapper-block1-message__text {
  @include mq(md) {
    padding: 0;
  }
}

.p-front-content-wrapper-block1-message-text__text {
  font-weight: 700;
  font-size: myrem(18);
  line-height: calc(30 / 18);
  letter-spacing: 0.1em;
  margin-top: myrem(20);
  display: none;

  @include mq(md) {
    display: block;
    font-weight: 800;
    font-size: myrem(34);
    line-height: calc(54 / 34);
    letter-spacing: 0.1em;
    margin-top: myrem(10);
  }
}

.p-front-content-wrapper-block1-message-text__readMore {
  @include mq(md) {
    width: fit-content;
    margin-top: myrem(-40);
    margin-right: 0;
    margin-left: auto;
  }
}

.p-front-content-wrapper-block1-message__inner {
  position: relative;
  margin-top: myrem(30);
  overflow: hidden;

  @include mq(md) {
    margin-top: myrem(25);
    margin-left: myrem(-70);
    max-width: calc(myrem(950) + myrem(70));
  }
}

.p-front-content-wrapper-block1-message-inner__bgGray {
  background-color: $black_base;
  width: clamp(myrem(285), 76vw, 76vw);
  max-width: 100%;
  aspect-ratio: 285 / 452;
  position: absolute;
  top: myrem(55);
  left: myrem(-20);
  z-index: -10;

  @include mq(md) {
    width: 100%;
    top: myrem(239);
    aspect-ratio: 1440 / 609;
  }
}

.p-front-content-wrapper-block1-message-inner__image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: myrem(37);
  margin-left: 0;
  position: relative;
  overflow: hidden;
}

.p-front-content-wrapper-block1-message-inner-image__image01 {
  width: 100%;
  max-width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;

  @include mq(md) {
    width: myrem(690);
    aspect-ratio: 690 /370;
  }
}

.p-front-content-wrapper-block1-message-inner-image__image01 img {
  width: calc(352 / 375 * 100%);
  position: relative;
  z-index: 0;

  @include mq(md) {
    width: 100%;
    object-fit: cover;
  }
}

.p-front-content-wrapper-block1-message-inner__image02 {
  width: calc(282 / 375 * 100%);
  margin-top: myrem(-80);
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
  aspect-ratio: 282 / 162;

  @include mq(md) {
    width: myrem(533);
    aspect-ratio: 533 / 283;
    margin-top: myrem(-135);
    margin-right: 0;
    margin-left: auto;
  }
}

.p-front-content-wrapper-block1-message-inner__image02 img {
  width: 100%;
  object-fit: cover;

  @include mq(md) {
    width: 100%;
  }
}

.p-front-content-wrapper-block1-message-inner__image03 {
  width: 100%;
  max-width: 100%;
  margin-left: myrem(40);

  @include mq(md) {
    width: myrem(460);
    aspect-ratio: 460 / 210;
    margin-left: myrem(100);
    margin-top: myrem(-15);
  }
}

.p-front-content-wrapper-block1-message-inner__image03 img {
  width: calc(304 / 375 * 100%);

  @include mq(md) {
    width: 100%;
    object-fit: cover;
  }
}

.p-front-content-wrapper-block1-message-inner__text {
  width: 100%;
  font-size: myrem(80);
  font-family: $font-sub;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: myrem(10);
  margin-top: myrem(-50);
  padding-left: myrem(50);
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  position: static;

  @include mq(md) {
    font-size: myrem(160);
    padding-left: 0;
  }
}

.p-front-content-wrapper-block1-message-inner__text-second {
  display: inline-block;
  width: 100%;
  height: myrem(64);
  max-width: 100%;
  margin-left: 0;
  margin-top: myrem(30);
  overflow: hidden;

  @include mq(md) {
    max-width: myrem(620);
    height: myrem(111);
    flex-shrink: 0;
  }
}

.p-front-content-wrapper-block1-message-inner__text-second img {
  display: block;
  width: 100%;
  height: 60%;
  aspect-ratio: 248 / 111;
  object-fit: cover;
  object-position: left bottom;

  @include mq(md) {
    max-width: 620px;
    aspect-ratio: 620 / 111;
  }
}

@keyframes floating-y {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(20%);
  }
}

/***********************************
フロントページ voice
***********************************/
.p-front-content-wrapper__block2 {
  padding: myrem(60) myrem(20) myrem(50);

  @include mq(md) {
    padding: myrem(0) 0 myrem(50) 0;
    max-width: myrem(320);
    margin-top: myrem(-7);
  }
}

.p-front-content-wrapper-block2-voice__title {
  width: 100%;
}

.p-front-content-wrapper-block2-voice__title a {
  width: fit-content;
  display: block;
  padding: myrem(30) myrem(20) myrem(10) myrem(0);

  @include mq(md) {
    padding: myrem(70) myrem(20) myrem(10) myrem(0);
  }
}

.p-front-content-wrapper-block2-voice__list {
  margin-top: myrem(30);
}

.p-front-content-wrapper-block2-voice-list__item {
  transition: transform 0.4s ease;
}

.p-front-content-wrapper-block2-voice-list__item:hover {
  transform: scale(1.1);
}

.p-front-content-wrapper-block2-voice-list__item:nth-child(n + 4) {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.p-front-content-wrapper-block2-voice-list__item:not(:nth-child(3)) {
  padding-bottom: myrem(100);

  @include mq(md) {
    padding-bottom: myrem(105);
  }
}

.p-front-content-wrapper-block2-voice-list__item:nth-child(3) {
  @include mq(md) {
    padding-bottom: myrem(105);
  }
}

.p-front-content-wrapper-block2-voice-list-item__card {
  width: 100%;
  position: relative;
}

.p-front-content-wrapper-block2-voice-list-item-card__label {
  width: fit-content;
  height: myrem(31);
  font-family: "Open Sans";
  font-weight: 800;
  font-size: myrem(14);
  line-height: calc(28 / 14);
  letter-spacing: 0.1em;
  color: $white;
  background-color: $black;
  padding: myrem(6) myrem(13);
  position: absolute;
  top: 0;
  right: 0;
}

.p-front-content-wrapper-block2-voice-list-item-card__image {
  width: 100%;
  aspect-ratio: 335 / 227;
}

.p-front-content-wrapper-block2-voice-list-item-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-front-content-wrapper-block2-voice-list-item-card__summary {
  width: calc(303 / 335 * 100%);
  background-color: $white;
  padding: myrem(10) myrem(15);
  position: absolute;
  top: 87%;
}

.p-front-content-wrapper-block2-voice-list-item-card__text {
  font-family: $font-main;
  font-weight: 500;
  font-size: myrem(14);
  line-height: calc(24 / 14);
  letter-spacing: 0.06em;
}

.p-front-content-wrapper-block2-voice__readmore {
  width: fit-content;
  margin-top: myrem(88);
  margin-left: auto;
  margin-right: 0;

  @include mq(md) {
    display: none;
  }
}

/***********************************
フロントページ service
***********************************/
.p-front-service {
  width: 100%;
  position: relative;
  background-image: url("../../assets/images/bg-grid_sp.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: myrem(80) 0 myrem(75);

  @include mq(md) {
    height: myrem(600);
    background-image: url("../../assets/images/bg-grid_pc.png");
    background-size: cover;
    padding: myrem(140) 0 myrem(52);
  }
}

.p-front-service__header {
  width: 100%;
  margin-left: auto;

  @include mq(md) {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
  }
}

.p-front-service-header__title {
  width: 100%;
  top: 50%;
  left: myrem(20);
  padding: 0 myrem(70);

  @include mq(md) {
    top: 56%;
    left: myrem(70);
  }
}

.p-front-service-header__title a {
  width: fit-content;
  margin-left: 0;
  margin-right: auto;
  padding: myrem(30) myrem(60) myrem(10) myrem(0);

  @include mq(md) {
    padding: myrem(60) myrem(160) myrem(10) myrem(0);
  }
}

.p-front-service__bgTextWrapper {
  overflow: hidden;
  padding: myrem(15) 0 myrem(20);
}

.p-front-service-bgText {
  animation-name: loopText;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
  white-space: nowrap;
  z-index: 10;
  color: $white;
  font-weight: 900;
  opacity: 0.5;
  transform: translateX(0);
  padding: 0 myrem(20);

  @include mq(md) {
    padding: 0;
    width: 200%; // アニメーションに必要な横幅
    white-space: nowrap;
    animation-name: loopText;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
    z-index: 10;
    color: $white;
    font-weight: 900;
    opacity: 0.5;
    transform: translateX(0);
  }
}

.line1,
.line2,
.line3,
.line4,
.line5,
.line6 {
  display: inline-flex;
  line-height: 1.2;
}

// 行別アニメーション速度
.line1 {
  animation-duration: 30s;
}
.line2 {
  animation-duration: 50s;
}
.line3 {
  animation-duration: 70s;
}
.line4 {
  animation-duration: 30s;
}
.line5 {
  animation-duration: 50s;
}
.line6 {
  animation-duration: 60s;
}

.p-front-service-bgText span {
  display: inline-flex;
  align-items: flex-end;
}

// PCでは非表示にする行
.line4,
.line5,
.line6 {
  @include mq(md) {
    display: none;
  }
}

// 各行のフォントサイズ
.line1-01 {
  font-size: myrem(40);
  @include mq(md) {
    font-size: myrem(98);
  }
}
.line1-02 {
  @include mq(md) {
    font-size: myrem(50);
  }
}
.line1-03 {
  @include mq(md) {
    font-size: myrem(70);
  }
}

.line2-01 {
  font-size: myrem(30);
  @include mq(md) {
    font-size: myrem(60);
  }
}
.line2-02 {
  @include mq(md) {
    font-size: myrem(80);
  }
}
.line2-03 {
  @include mq(md) {
    font-size: myrem(87);
  }
}

.line3-01 {
  font-size: myrem(40);
  @include mq(md) {
    font-size: myrem(98);
  }
}
.line3-02 {
  @include mq(md) {
    font-size: myrem(70);
  }
}
.line3-03 {
  @include mq(md) {
    font-size: myrem(87);
  }
}

.line4 {
  font-size: myrem(40);
  @include mq(md) {
    font-size: myrem(98);
  }
}

.line5 {
  font-size: myrem(30);
  @include mq(md) {
    font-size: myrem(80);
  }
}

.line6 {
  font-size: myrem(40);

  @include mq(md) {
    font-size: myrem(98);
  }
}
.line6-02 {
  font-size: myrem(30);
}

/* 逆方向クラス */
.is-reverse {
  animation-direction: reverse;
}

@keyframes loopText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.p-front-service-header__readMore {
  width: fit-content;
  margin-top: myrem(10);
  margin-left: auto;
  margin-right: myrem(20);

  @include mq(md) {
    margin-right: calc(420 / 1440 * 100%);
    margin-top: myrem(-65);
  }
}

/***********************************
フロントページ profile
***********************************/
.p-front-profile {
  width: 100%;
  text-align: center;
  margin-top: myrem(-25);
  position: relative;
  display: block;
  transition: transform 0.4s ease;

  @include mq(md) {
    max-width: 1440px;
    margin-top: 0;
    margin: 0 auto;
    color: $white;
    padding: myrem(80) myrem(70) myrem(80);
    text-align: left;
  }
}

.p-front-profile:hover {
  transform: scale(1.1);
}

.p-front-profile__overlay {
  position: absolute;
  inset: 0;
  background: #959595;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.p-front-profile__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 38%;
  left: 0;

  @include mq(md) {
    left: 0;
    top: 46%;
    padding-left: calc(134 / 1240 * 100%);
  }
}

.p-front-profile__image {
  width: 100%;
  aspect-ratio: 375 / 268;
  position: relative;
  overflow: hidden;

  @include mq(md) {
    max-width: 1240px;
    aspect-ratio: 1240 / 343;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.p-front-profile__image picture,
.p-front-profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-front-profile-content__text {
  width: myrem(335);
  font-family: "Open Sans";
  font-size: myrem(14);
  font-weight: bold;
  letter-spacing: 0.06em;
  line-height: 170%;
  z-index: 10;
  color: $white;
  margin-top: myrem(10);
  margin-inline: auto;

  @include mq(md) {
    font-size: myrem(16);
    width: myrem(515);
    line-height: 170%;
    letter-spacing: 0.06em;
    margin-top: myrem(15);
    margin-left: 0;
    padding-left: myrem(5);
  }
}

/***********************************
フロントページ news
***********************************/
.p-front-news {
  width: 100%;
  padding: myrem(55) myrem(20) myrem(50);
  background-color: $black_base;

  @include mq(md) {
    margin: 0 auto;
    padding: myrem(100) myrem(100) myrem(100) myrem(69);
  }
}

.p-front-news__inner {
  width: 100%;
  @include mq(md) {
    max-width: myrem(1271);
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: myrem(132);
  }
}

.p-front-news-inner-titleArea {
  @include mq(md) {
    padding-top: myrem(0);
  }
}

.p-front-news-inner-titleArea__title {
  width: 100%;
}

.p-front-news-inner-titleArea__title a {
  width: fit-content;
  display: block;
  margin-left: 0;
  margin-right: auto;
  padding: myrem(30) myrem(20) myrem(10) myrem(0);

  @include mq(md) {
    padding: myrem(60) myrem(60) myrem(10) myrem(0);
  }
}

.p-front-news-inner__content {
  margin-top: myrem(27);
  @include mq(md) {
    margin-top: myrem(0);
    width: myrem(960);
  }
}

.p-front-news-inner-content__list {
  margin-top: myrem(27);

  @include mq(md) {
    margin-top: myrem(10);
  }
}

.p-front-news-inner-content-list__link {
  border-bottom: 1px solid #959595;
}

.p-front-news-inner-content-list__link:not(:first-child) {
  margin-top: myrem(27);

  @include mq(md) {
    margin-top: myrem(20);
  }
}

.p-front-news__readmore {
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
  margin-top: myrem(-38);
}

.p-front-news-inner-content-list-link__meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: myrem(10);

  @include mq(md) {
    gap: myrem(18);
  }
}

.p-front-news-inner-content-list-link-meta__date {
  font-family: "Roboto";
  font-weight: 600;
  font-size: myrem(16);
  line-height: calc(28 / 16);
  letter-spacing: 0.1em;
}

.p-front-news-inner-content-list-link-meta__category {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: myrem(14);
  line-height: calc(28 / 14);
  color: $white;
  background-color: $black;
  width: fit-content;
  height: myrem(30);
  border-radius: myrem(15);
  padding: 0 myrem(24) 0 myrem(14);
  display: flex;
  align-items: center;

  @include mq(md) {
    padding-right: myrem(20);
  }
}

.p-front-news-inner-content-list-link-post__title {
  font-size: myrem(16);
  line-height: calc(28 / 16);
  letter-spacing: 0.06em;
  padding: myrem(8) myrem(0) myrem(20);
}

.p-front-news-inner-titleArea__readmore {
  @include mq(md) {
    margin-top: myrem(25);
  }
}

.p-front-news-inner__readmore {
  margin-top: myrem(15);
}

.p-front-news__readmore--desktop {
  display: none;

  @include mq(md) {
    display: block;
    white-space: nowrap;
    margin-top: myrem(25);
    margin-left: myrem(5);
  }
}
