@use "global" as *;

.p-profile {
  padding-top: myrem(85);
  background-color: $black_base;
}

.p-profile__skills {
  padding-bottom: myrem(60);
}

.p-profile-skills__list {
  display: grid;
  grid-template-columns: 1fr; // 1列
  grid-template-rows: myrem(510) myrem(235) myrem(350) myrem(380);
  gap: myrem(20);

  padding-top: myrem(55);
}

.p-profile-skills__item {
  padding: myrem(20) myrem(10);
  background-color: $white;
}

.p-profile-skills-item__title {
  font-weight: 800;
  font-size: myrem(20);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.p-profile-skills-item__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  column-gap: myrem(7);
  row-gap: myrem(30);

  margin-top: myrem(30);
  margin-inline: auto;
}

.p-profile-skills-item__list--design {
  margin-top: myrem(20);
  row-gap: myrem(25);
}

.p-profile-skills-item__list--communication {
  margin-top: myrem(25);
  row-gap: myrem(35);
}

.p-profile-skills-item__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-inline: myrem(10);
  gap: myrem(10);
}

.p-profile-skills-item__icon--cells {
  grid-column: 1 / 3;
  margin-top: myrem(-10);
}

// 各アイコンのサイズ指定
.p-profile-skills-item__image--html,
.p-profile-skills-item__image--css {
  width: myrem(87);
}

.p-profile-skills-item__image--html img,
.p-profile-skills-item__image--css img {
  width: 100%;
  height: 100%;
  aspect-ratio: 87 / 99;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--sass {
  width: myrem(108);
  transform: translateY(myrem(10));
}

.p-profile-skills-item__image--sass img {
  width: 100%;
  height: 100%;
  aspect-ratio: 108 / 79;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--js {
  width: myrem(91);
  margin-bottom: myrem(8);
}

.p-profile-skills-item__image--js img {
  width: 100%;
  height: 100%;
  aspect-ratio: 91 / 91;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--php {
  width: myrem(132);
  margin-top: myrem(-8);
}
.p-profile-skills-item__image--php img {
  width: 100%;
  height: 100%;
  aspect-ratio: 132 / 69;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--wp {
  width: myrem(109);
}

.p-profile-skills-item__image--wp img {
  width: 100%;
  height: 100%;
  aspect-ratio: 109 / 106;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--ai,
.p-profile-skills-item__image--ps,
.p-profile-skills-item__image--xd {
  width: myrem(83);
}

.p-profile-skills-item__image--ai img,
.p-profile-skills-item__image--ps img,
.p-profile-skills-item__image--xd img {
  width: 100%;
  height: 100%;
  aspect-ratio: 83 / 82;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--figma {
  width: myrem(56);
}

.p-profile-skills-item__image--figma img {
  width: 100%;
  height: 100%;
  aspect-ratio: 56 / 84;
  object-fit: cover;

  @include mq(md) {
  }
}

.p-profile-skills-item__image--chatwork,
.p-profile-skills-item__image--mail {
  width: myrem(100);
}

.p-profile-skills-item__image--slack {
  width: myrem(76);
}

.p-profile-skills-item__image--line {
  width: myrem(90);
  transform: translateY(myrem(-8));
}

.p-profile-skills-item__image--chatwork img,
.p-profile-skills-item__image--mail img,
.p-profile-skills-item__image--slack img,
.p-profile-skills-item__image--line img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.p-profile-skills-item__mane {
  font-weight: 800;
  font-size: myrem(14);
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.p-profile__wrapper {
  background-color: $white;
  padding-block: myrem(60);
}

.p-profile-content__text {
  margin-top: myrem(20);
  font-style: normal;
  font-weight: 400;
  font-size: myrem(14);
  line-height: 2;
  letter-spacing: 0.25em;
}

.p-profile-content__image {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  margin-top: myrem(25);
}

.p-profile-content__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 373 / 271;
  object-fit: cover;
}

.p-profile-content__image + .p-profile-content {
  margin-top: myrem(55);
}

.p-profile-content__photo {
  margin-top: myrem(50);
}

.p-profile-content__photo--01,
.p-profile-content__photo--02 {
  width:calc( 282 / 375 *100%);
}

.p-profile-content__photo--01 img,
.p-profile-content__photo--02 img {
  width: 100%;
  height: 100%;
  aspect-ratio: 282 / 182;
  object-fit: cover;
}
.p-profile-content__photo--01 {
  margin-left: calc(50% - 50vw);
  margin-right: auto;
}

.p-profile-content__photo--02 {
  margin-right: calc(50% - 50vw);
  margin-left: auto;
  margin-top: myrem(25);
}

.p-profile__sidebar {
  margin-top: myrem(60);
}

.p-profile-president__image {
  width: 100%;
}
.p-profile-president__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 335 / 216;
  object-fit: cover;
}

.p-profile-president__text {
  text-align: right;
  margin-top: myrem(10);
}

.p-profile-president__name--ja {
  font-weight: 700;
  font-size: myrem(16);
  line-height: 170%;
  letter-spacing: 0.06em;
}

.p-profile-president__name--en {
  font-weight: 700;
  font-size: myrem(12);
  line-height: 170%;
  letter-spacing: 0.06em;
  color: #929292;
}

.p-profile-career__wrapper {
  margin-top: myrem(25);
}

.p-profile-career__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: myrem(22);
  letter-spacing: 0.1em;
  position: relative;

  @include mq(md) {
    font-size: myrem(28);
    margin-top: myrem(0);
  }
}

.p-profile-career__title::after {
  content: "";
  display: block;
  width: myrem(16);
  height: myrem(4);
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);
  position: absolute;
  bottom: myrem(-8);
  left: myrem(0);

  @include mq(md) {
    width: myrem(32);
    bottom: myrem(-6);
    left: 0;
  }
}

.p-profile-career__description {
  margin-top: myrem(20);
  font-size: myrem(14);
  line-height: calc(24 / 14);
  letter-spacing: 0.1em;

  @include mq(md) {
    margin-top: myrem(25);
  }
}

.p-profile-career__wrapper:nth-child(2) {
  margin-top: myrem(50);
}