@use "global" as *;

/******************************
アイコン群
******************************/
.p-profile-skill {
  background-color: $black_base;
  position: relative;
  padding: myrem(100) 0 myrem(60);

  @include mq(md) {
    padding-bottom: myrem(120);
  }
}

.p-profile-skill__inner {
  padding: 0 myrem(20);
  margin-top: myrem(85);
  position: relative;

  @include mq(md) {
    max-width: $innerWidth;
    padding: myrem(80) myrem(70) 0;
    margin-top: myrem(-10);
    margin-inline: auto;
  }
}

.p-profile-skill-inner__box {
  width: 100%;
  height: fit-content;
  background-color: $white;
  padding: myrem(20) myrem(10);

  @include mq(md) {
    max-width: 1300px;
    height: myrem(310);
    padding: myrem(30) myrem(20) myrem(30) myrem(60);
  }
}

.p-profile-skill-inner__box {
  margin-top: myrem(20);

  @include mq(md) {
    margin-top: 0;
  }
}

.p-profile-skill-inner-box__title {
  font-weight: 800;
  font-size: myrem(20);
  letter-spacing: 0.1em;

  @include mq(md) {
    font-size: myrem(28);
  }
}

.p-profile-skill-inner-box-icons {
  max-width: myrem(460);
  height: fit-content;
  margin: 0 auto;

  @include mq(md) {
    max-width: 100%;
  }
}

.p-profile-skill-inner-box-icons--coding {
  margin-top: myrem(25);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  row-gap: myrem(30);

  @include mq(md) {
    padding: 0;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(1, 1fr);
  }
}

.p-profile-skill-inner-box-icons--cms {
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: myrem(27);

  @include mq(md) {
    margin-top: myrem(20);
  }
}

.p-profile-skill-inner-box-icons--design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: myrem(15);
  row-gap: myrem(25);
  margin-top: myrem(25);

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: myrem(43);
  }
}

.p-profile-skill-inner-box-icons--communication {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: myrem(30);
  row-gap: myrem(20);

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

.p-profile-skill-inner-box-icons__item {
  height: fit-content;
  font-weight: 800;
  font-size: myrem(16);
  letter-spacing: 0.1em;
  text-align: center;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  align-self: end;
  justify-self: center;
  gap: myrem(8);

  @include mq(md) {
    width: fit-content;
    font-size: myrem(18);
    gap: myrem(20);
  }
}

.p-profile-skill-inner-box-icons__item:first-child {
  @include mq(md) {
    justify-self: flex-start;
  }
}

.p-profile-skill-inner-box-icons__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

// 画像ごとのサイズ指定
.p-profile-skill-inner-box-icons__item--html img,
.p-profile-skill-inner-box-icons__item--css img {
  width: myrem(88);
  aspect-ratio: 88 / 99;

  @include mq(md) {
    width: myrem(90);
  }
}

.p-profile-skill-inner-box-icons__item--sass img {
  width: myrem(108);
  aspect-ratio: 108 / 78;

  @include mq(md) {
    width: myrem(129);
  }
}

.p-profile-skill-inner-box-icons__item--js img {
  width: myrem(91);
  aspect-ratio: 1 / 1;

  @include mq(md) {
    width: myrem(115);
  }
}

.p-profile-skill-inner-box-icons__item--php img {
  width: myrem(132);
  aspect-ratio: 132 / 69;

  @include mq(md) {
    width: myrem(158);
  }
}

.p-profile-skill-inner-box-icons__item--wordpress img {
  width: myrem(110);
  aspect-ratio: 110 / 106;

  @include mq(md) {
    width: myrem(133);
    aspect-ratio: 134 / 130;
    margin-right: myrem(30);
  }
}

.p-profile-skill-inner-box-icons__item--ai img,
.p-profile-skill-inner-box-icons__item--ps img,
.p-profile-skill-inner-box-icons__item--xd img {
  width: myrem(82);
  aspect-ratio: 1 / 1;

  @include mq(md) {
    width: myrem(97);
  }
}

.p-profile-skill-inner-box-icons__item--figma img {
  width: myrem(56);
  aspect-ratio: 56 / 84;
  margin-right: myrem(13);

  @include mq(md) {
    width: myrem(67);
    margin-right: myrem(0);
  }
}

.p-profile-skill-inner-box-icons__item--chatwork img {
  width: myrem(94);
  aspect-ratio: 1 / 1;
}

.p-profile-skill-inner-box-icons__item--mail img {
  width: myrem(100);
  aspect-ratio: 1 / 1;
}

.p-profile-skill-inner-box-icons__item--slack img {
  width: myrem(76);
  aspect-ratio: 1 / 1;

  @include mq(md) {
    width: myrem(93);
    margin-right: myrem(0);
  }
}

.p-profile-skill-inner-box-icons__item--line img {
  width: myrem(89);
  aspect-ratio: 1 / 1;

  @include mq(md) {
    width: myrem(109);
    margin-right: myrem(0);
  }
}

// pcサイズ　gridレイアウト
// 1段目
.p-profile-skill-inner-box__wrapper-top {
  @include mq(md) {
    display: grid;
    grid-template-columns: calc(865 / 1300 * 100%) auto;
    grid-template-rows: repeat(1, 1fr);
    column-gap: myrem(20);
    height: myrem(310);
  }
}
// 2段目
.p-profile-skill-inner-box__wrapper-bottom {
  @include mq(md) {
    max-width: 1300px;
    display: grid;
    grid-template-columns: calc(655 / 1300 * 100%) auto;
    grid-template-rows: repeat(1, 1fr);
    column-gap: myrem(20);
    margin-top: myrem(20);
    height: myrem(300);
  }
}

/******************************
メイン部分
******************************/
.p-profile__wrapper {
  padding-top: myrem(50);

  @include mq(md) {
    max-width: 1440px;
    padding: myrem(110) myrem(70) myrem(110);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: myrem(30);
  }
}

.p-profile__container {
  @include mq(md) {
    width: calc(950 / 1300 * 100%);
  }
}

.p-profile-container__body + .p-profile-container__body {
  margin-top: myrem(55);

  @include mq(md) {
    padding-bottom: myrem(0);
  }
}

.p-profile-container-body__wrapper {
  padding: 0 myrem(20);

  @include mq(md) {
    padding: 0;
  }
}

.p-profile-container-body-wrapper__text {
  margin-top: myrem(20);
  font-family: $font-main;
  font-size: myrem(16);
  line-height: calc(28 / 16);
  font-weight: 400;
  letter-spacing: 0.1em;
  color: $black;

  @include mq(md) {
    letter-spacing: 0.14em;
    line-height: 1.8;
  }
}

.p-profile-container-body-wrapper__text p:not(:first-child) {
  margin-top: myrem(28);
}

.p-profile-container-body__image {
  width: 100%;
  aspect-ratio: 375 / 270;
  margin-top: myrem(55);

  @include mq(md) {
    max-width: 950px;
    aspect-ratio: 950 / 327;
    margin-top: myrem(80);
    overflow: hidden;
    position: relative;
}
}

.p-profile-container-body__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    position: absolute;
    object-fit: cover;
    object-position: bottom;
  }
}

/******************************
スライダー
******************************/
.p-profile-body__slider {
  margin-top: myrem(35);
}

/******************************
プロフィール
******************************/
.p-profile__profile {
  margin-top: myrem(50);
  padding: 0 myrem(20) myrem(80);

  @include mq(md) {
    width: calc(320 / 1300 * 100%);
    padding: 0;
    padding-bottom: myrem(20);
    margin-top: myrem(5);
  }
}

.p-profile-profile__content {
  margin-top: myrem(27);
  @include mq(md) {
    padding: 0;
    margin-top: myrem(50);
  }
}

.p-profile-profile__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: myrem(22);
  letter-spacing: 0.1em;
  position: relative;

  @include mq(md) {
    font-size: myrem(28);
    margin-top: myrem(0);
  }
}

.p-profile-profile__title::after {
  content: "";
  display: block;
  width: myrem(16);
  height: myrem(4);
  background: linear-gradient(to right, $black 50%, #f5f5f5 50%);
  position: absolute;
  bottom: myrem(-8);
  left: myrem(0);

  @include mq(md) {
    width: myrem(32);
    bottom: myrem(-6);
    left: 0;
  }
}

.p-profile__profile .c-profile-card__image {
  width: 100%;
  aspect-ratio: 335 / 216;
}

.p-profile__profile .c-profile-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-profile-profile__text {
  font-weight: 400;
  font-size: myrem(14);
  line-height: calc(24 / 14);
  letter-spacing: 0.1em;
  margin-top: myrem(10);

  @include mq(md) {
    margin-top: myrem(25);
    line-height: calc(24 / 14);
    line-height: 1.8;
    letter-spacing: 0.14em;
    padding-bottom: myrem(0);
    margin-top: myrem(20);
  }
}
