@use "global" as *;

.p-archive-works {
  width: 100%;
  overflow: clip;
}

.p-single-works__inner {
  width: 100%;
  padding-top: myrem(140);

  @include mq(md) {
    padding-top: myrem(180);
    padding-left: myrem(80);
  }
}

.p-single-works-inner__title {
  font-weight: 800;
  font-size: myrem(20);
  line-height: calc(34 / 20);
  letter-spacing: 0.1em;

  @include mq(md) {
    font-size: myrem(34);
    line-height: calc(54 / 34);
  }
}

.p-single-works-inner__eye-catch {
  width: 100vw;
  margin: myrem(15) calc(50% - 50vw) 0;

  @include mq(md) {
    margin-top: myrem(40);
  }
}

.p-single-works-inner__eye-catch img {
  width: 100%;
  height: 100%;
  aspect-ratio: 375 / 230;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 1440 / 480;
  }
}

.p-single-works__wrapper {
  width: 100%;
  padding-top: myrem(55);

  @include mq(md) {
    max-width: 1440px;
    padding-top: myrem(84);
    padding-bottom: myrem(100);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: myrem(30);
  }
}

.p-single-works-wrapper__content {
  @include mq(md) {
    width: calc(950 / 1300 * 100%);
  }
}

.p-single-works-wrapper-content__body--second {
  margin-top: myrem(55);

  @include mq(md) {
    margin-top: myrem(75);
  }
}

//テーブル
.p-single-works-wrapper-content-body__list {
  border: 1px solid $black_sub;
  line-height: calc(24 / 16);
  letter-spacing: 0.1em;
  width: 100%;
  font-size: myrem(16);
  margin-top: myrem(40);
  border-collapse: collapse;

  @include mq(md) {
    display: table;
    margin-top: myrem(50);
  }
}

.p-single-works-wrapper-content-body-list-item {
  display: block; // SPは縦積み

  @include mq(md) {
    display: table-row; // PCは横並び
    padding: myrem(15) myrem(20) myrem(16);
  }
}

.p-single-works-wrapper-content-body-list-item__term,
.p-single-works-wrapper-content-body-list-item__desc {
  display: block; // SPは縦
  width: 100%;

  @include mq(md) {
  }
}

.p-single-works-wrapper-content-body-list-item__term {
  font-weight: bold;
  background-color: #f5f5f5;
  padding: myrem(10) myrem(15) myrem(11);

  @include mq(md) {
    display: table-cell;
    width: 23%;
    padding: inherit;
    border: 1px solid $black_sub;
    vertical-align: top;
  }
}

.p-single-works-wrapper-content-body-list-item__desc {
  padding: myrem(5) myrem(15) myrem(10);

  @include mq(md) {
    display: table-cell;
    padding: inherit;
    border: 1px solid $black_sub;
    vertical-align: top;
    letter-spacing: 0.1em;
    line-height: calc(24 / 16);
    font-size: myrem(16);
  }
}

.p-single-works-wrapper-content-body__text {
  margin-top: myrem(20);
  font-weight: 400;
  line-height: calc(28 / 16);
  letter-spacing: 0.1em;

  @include mq(md) {
    margin-top: myrem(15);
  }
}

.p-single-works-content-body__page-nation {
  margin-top: myrem(35);

  @include mq(md) {
    margin-top: myrem(70);
  }
}

.p-single-works-wrapper__profile {
  margin-top: myrem(40);
  padding-bottom: myrem(50);

  @include mq(md) {
    margin-top: myrem(15);
    padding: 0 0 myrem(60);
    width: calc(320 / 1300 * 100%);
    position: sticky;
    top: myrem(100);
  }
}

.p-single-works-wrapper-profile__card {
  width: 100%;
}

.p-single-works-wrapper-profile-card__image {
  width: 100%;

  @include mq(md) {
  }
}

.p-single-works-wrapper-profile-card__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 335 / 216;
  object-fit: cover;

  @include mq(md) {
    aspect-ratio: 320 / 210;
  }
}

.p-single-works-wrapper-profile-card__text--company {
  font-weight: 800;
  font-size: myrem(24);
  line-height: calc(60 / 24);
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: myrem(5);
}

.p-single-works-wrapper-profile__return {
  margin-top: myrem(10);
}

/*************
関連記事　swiper
*************/
.p-single-works__swiper {
  background-color: $black_base;
  padding: myrem(60) 0 myrem(60);
  overflow: hidden;

  @include mq(md) {
    padding: myrem(80) 0 myrem(85);
  }
}
