@use "global" as *;

.p-service {
  width: 100%;
  background-color: $black_base;

  @include mq(md) {
    overflow: clip;
  }
}

.p-service__mv {
  width: 100%;
  background-color: $white;
  padding-top: myrem(180);

  @include mq(md) {
    margin: 0 auto;
    padding-top: myrem(245);
  }
}

.p-service-mv__inner {
  max-width: 1440px;
  background-color: #fff;
  margin-inline: auto;
}

.p-service-mv__image {
  width: 100%;
  margin-top: myrem(23);

  @include mq(md) {
    width: 100vw;
    margin: myrem(35) calc(50% - 50vw) 0;
  }
}

.p-service-mv__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 375 / 230;
  object-fit: cover;
  object-position: myrem(-165) center;

  @include mq(md) {
    aspect-ratio: 1440 / 480;
    object-position: center;
  }
}

.p-service__breadcrumbs {
  background-color: $black_base;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;

  @include mq(md) {
    max-width: 1440px;
    padding-inline: myrem(70);
  }
}

.p-service__price {
  margin-top: myrem(90);

  @include mq(md) {
    margin-top: myrem(100);
  }
}

.p-service-price__list {
  width: 100%;
  background-color: $black_base;
  padding-top: myrem(40);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: myrem(172) myrem(297) myrem(172) myrem(172);
  column-gap: myrem(10);
  row-gap: myrem(12);

  @include mq(md) {
    grid-template-columns: myrem(343) 1fr myrem(740);
    grid-template-rows: myrem(407) myrem(396) myrem(310);
    column-gap: myrem(10);
    row-gap: myrem(10);
    padding-top: myrem(40);
    margin-inline: auto;
  }
}

.p-service-price__card {
  background-color: $white;
  color: $black;
  padding: myrem(17) myrem(6) myrem(10) myrem(10);
  border-radius: myrem(4);

  display: flex;

  @include mq(md) {
    padding: myrem(50) myrem(60);
  }
}

.p-service-price__card-title {
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(18);
  letter-spacing: 0.04em;
  color: $black;
  text-align: left;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.p-service-price__card-title::before {
  margin-left: 0;

  @include mq(md) {
    margin-left: 0;
  }
}

.p-service-price__card-title::after {
  margin-left: 0;
  font-size: myrem(36);

  @include mq(md) {
    margin-left: 0;
    font-size: myrem(60);
  }
}

.p-service-price__card-price {
  font-family: $font-sub;
  font-weight: 500;

  @include mq(md) {
  }
}

// お見積り
.p-service-price__card--estimate {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  flex-direction: column;
  @include mq(md) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-top: myrem(0);
  }
}

.p-service-price__card-price--estimate {
  font-size: myrem(70);
  text-align: center;
  padding-top: myrem(4);
  padding-left: myrem(10);

  @include mq(md) {
    font-size: myrem(100);
    padding: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: myrem(20);
  }
}

.p-service-price__card-price--estimate::after {
  content: attr(data-after);
  font-size: myrem(14);
  margin-left: myrem(4);
  font-weight: 700;
  letter-spacing: 0.04em;

  @include mq(md) {
    font-size: myrem(30);
    margin-top: myrem(40);
  }
}

// 基本料金
.p-service-price__card--basic {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  gap: myrem(15);

  @include mq(md) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    gap: 0;
  }
}

.p-service-price__card--basic .p-service-price__card-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mq(md) {
    flex-direction: row;
    gap: myrem(80);
  }
}

.p-service-price__card-image--basic {
  width: myrem(77);
  height: myrem(69);
  margin-inline: auto;
  transform: translateX(myrem(7));

  @include mq(md) {
    width: myrem(208);
    height: myrem(186);
  }
}

.p-service-price__card-image--basic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-service-price__card--basic .p-service-price__card-wrapper {
  width: fit-content;
  margin: auto;
  padding-top: myrem(10);
  @include mq(md) {
    max-width: $innerWidth;
    margin: 0 auto;
    margin-top: myrem(-10);
  }
}

.p-service-price__card-top,
.p-service-price__card-bottom {
  position: relative;
  font-size: myrem(34); // 金額部分のフォントサイズ
  font-family: $font-sub;
  font-weight: 500;

  @include mq(md) {
    font-size: myrem(100);
  }
}

.p-service-price__card-top::before,
.p-service-price__card-bottom::before {
  content: attr(data-before);
  position: absolute;
  top: 0;
  left: 0;
  font-size: myrem(13); // トップ・下層ラベル
  transform: translateY(-50%); // 上に配置
  letter-spacing: 0.04em;
  font-weight: 700;

  @include mq(md) {
    font-size: myrem(32); // トップ・下層ラベル
    transform: translateY(0);
    top: 40%;
    left: myrem(-120);
  }
}

.p-service-price__card-bottom::before {
  @include mq(md) {
    padding-left: myrem(15);
  }
}
.p-service-price__card-top::after,
.p-service-price__card-bottom::after {
  content: attr(data-after);
  font-size: myrem(14); // 円～
  margin-left: myrem(4); // 少し余白を空ける

  font-weight: 700;
  letter-spacing: 0.04em;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.p-service-price__card-bottom {
  margin-top: myrem(10);

  @include mq(md) {
    margin-top: myrem(-30);
  }
}

// アニメーション
.p-service-price__card--animation {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include mq(md) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    margin-top: 0;
    letter-spacing: 0.02em;
  }
}

.p-service-price__card--animation .p-service-price__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-inline: auto;
  transform: translateY(myrem(-3));

  @include mq(md) {
    transform: translateY(0);
    padding-left: myrem(30);
  }
}

.p-service-price__card--animation .p-service-price__card-price {
  position: relative;
  font-size: myrem(34); // 金額部分のフォントサイズ
  font-family: $font-sub;
  font-weight: 500;

  @include mq(md) {
    font-size: myrem(100);
  }
}

.p-service-price__card--animation .p-service-price__card-price::after {
  content: attr(data-after);
  font-size: myrem(14); // 円～
  margin-left: myrem(4); // 少し余白を空ける
  font-weight: 700;
  letter-spacing: 0.04em;

  @include mq(md) {
    font-size: myrem(32);
  }
}

// レスポンシブ
.p-service-price__card--responsive {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;

  @include mq(md) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    
  }
}

.p-service-price__card--responsive .p-service-price__card-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: myrem(40);
  margin-top: myrem(5);
  transform: translateX(myrem(14));

  @include mq(md) {
    transform: translateX(0);
    gap: myrem(30);
    padding-left: myrem(10);
    padding-top: myrem(25);
  }
}

.p-service-price__card--responsive .p-service-price__card-image {
  width: myrem(78);
  height: myrem(102);

  @include mq(md) {
    width: myrem(140);
    height: myrem(194);
  }
}

.p-service-price__card--responsive .p-service-price__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-service-price__card--responsive .p-service-price__card-wrapper {
  transform: translateY(myrem(-10));

  @include mq(md) {
    transform: translateY(myrem(0));
  }
}

.p-service-price__card-text--responsive {
  position: relative;
  font-size: myrem(34); // 金額部分のフォントサイズ
  font-family: $font-sub;
  font-weight: 500;

  @include mq(md) {
    font-size: myrem(100);
  }
}

.p-service-price__card-text--responsive::after {
  content: attr(data-after);
  font-size: myrem(14); // 円～
  margin-left: myrem(4); // 少し余白を空ける
  font-weight: 700;
  letter-spacing: 0.04em;

  @include mq(md) {
    font-size: myrem(32);
  }
}

// 実務工程
.p-service-price__card--term {
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  display: flex;
  flex-direction: column;

  @include mq(md) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;


    padding: myrem(50) myrem(225) myrem(10);
  }
}

.p-service-price__card--term .p-service-price__card-inner {
  display: flex;
  justify-content: center;
  gap: myrem(30);
  margin-top: myrem(5);

  @include mq(md) {
    margin-top: myrem(-10);
    gap: myrem(95);
    padding-left: myrem(30);
  }
}

.p-service-price__card--term .p-service-price__card-image {
  width: myrem(157);
  height: myrem(72);

  @include mq(md) {
    width: myrem(465);
    height: myrem(214);
    margin-top: myrem(-30);
  }
}

.p-service-price__card--term .p-service-price__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-service-price__card-term {
  position: relative;
  font-size: myrem(34); // 金額部分のフォントサイズ
  font-family: $font-sub;
  font-weight: 500;
  padding-top: myrem(15);

  @include mq(md) {
    font-size: myrem(100);
  }
}

.p-service-price__card-term::before,
.p-service-price__card-term::after {
  font-size: myrem(14);
  margin-left: myrem(4);
  font-weight: 700;
  letter-spacing: 0.04em;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.p-service-price__card-term::before {
  content: attr(data-before);
}

.p-service-price__card-term::after {
  content: attr(data-after);
}


.p-service-price__note {
  font-weight: 500;
  font-size: myrem(12);
  letter-spacing: 0.06em;
  color: #888888;
  text-align: center;
  margin-top: myrem(12);
  margin-right: myrem(-8);

  @include mq(md) {
    font-size: myrem(16);
    text-align: left;
    margin-top: myrem(-30);
    margin-right: 0;
    letter-spacing: 0.04em;
  }
}

// FAQ
.p-service__faq {
  padding-top: myrem(100);
  padding-bottom: myrem(60);
  background-color: $black_base;

  @include mq(md) {
    padding: myrem(180) myrem(70) myrem(110);
    max-width: 1440px;
    margin-inline: auto;
  }
}

.p-service-faq__title {
  @include mq(md) {
padding-left:myrem(42)
  }
}

.p-service-faq-title__inner {
  width: 100%;
  padding-left: myrem(22);

  @include mq(md) {
    max-width: 1300px;
    padding-left: myrem(42);
    margin: 0 auto;
  }
}

.p-service-faq-title__inner::before {
  margin-left: myrem(0);
}
.p-service-faq-title__inner::after {
  margin-left: myrem(0);
}

.p-service-faq__list {
  margin-top: myrem(50);

  @include mq(md) {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: myrem(43) auto 0;
  }
}

.p-service-faq-list__item {
  background-color: $white;
  border-radius: myrem(10);
  padding: myrem(25) myrem(16) myrem(20);

  @include mq(md) {
    padding: myrem(19) myrem(30) myrem(15);
    border-radius: 0;
  }
}

.p-service-faq-list__item.is-hidden {
  display: none;
}

.p-service-faq-list__item + .p-service-faq-list__item {
  margin-top: myrem(10);
}

.p-service-faq-list__item-label {
  flex-shrink: 0; /* Q1 を縮めない */
  font-family: $font-sub;
  font-weight: 500;
  font-size: myrem(18);

  @include mq(md) {
    font-size: myrem(26);
  }
}

.p-service-faq-list__item-text {
  letter-spacing: 0.04em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;

  @include mq(md) {
    font-size: myrem(20);
    letter-spacing: 0.1em;
  }
}

.p-service-faq-list__item-question {
  font-family: "Open Sans";
  font-size: myrem(18);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: calc(24 / 18);
  text-align: left;
  padding-bottom: myrem(3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: myrem(10);

  @include mq(md) {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 0;
    gap: myrem(23);
    letter-spacing: 0.11em;
  }
}

.p-service-faq-list__item-answer {
  font-family: "Open Sans";
  font-size: myrem(14);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: calc(26 / 14);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  will-change: max-height, opacity;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    padding 0.5s ease-in-out;

  @include mq(md) {
    padding: 0 0 0 myrem(62);
  }
}

.p-service-faq-list__item.is-open .p-service-faq-list__item-answer {
  opacity: 1;
  padding-top: myrem(16);

  @include mq(md) {
    padding: myrem(10) 0 0 myrem(62);
    letter-spacing: 0;
    line-height: calc(28 / 16);
    font-size: myrem(16);
  }
}

.p-service-faq-list__item-icon {
  flex-shrink: 0;
  margin-left: auto; /* 右端に配置 */
  width: 1em;
  height: 1em;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-left: auto;
}

.p-service-faq-list__item-icon::before,
.p-service-faq-list__item-icon::after {
  content: "";
  position: absolute;
  background-color: $black;
  border-radius: 1px;
  transition: 0.3s;
}

/* 横線 */
.p-service-faq-list__item-icon::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

/* 縦線（＋用） */
.p-service-faq-list__item-icon::after {
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

/* is-open 時は縦線を消して「−」にする */
.p-service-faq-list__item.is-open .p-service-faq-list__item-icon::after {
  opacity: 0;
}

.p-service-faq-more {
  margin-top: myrem(40);

  @include mq(md) {
    margin-top: myrem(45);
  }
}

.p-service-faq-more__btn {
  margin-inline: auto;
  width: myrem(260);
  height: myrem(64);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 myrem(20);
  font-family: $font-main;
  font-size: myrem(18);
  letter-spacing: 0.06em;
  color: $white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, #000000 0%, #929292 100%);
  border: none;
  border-radius: myrem(40);
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;

  @include mq(md) {
    font-size: myrem(20);
    letter-spacing: 0.1em;
    width: myrem(300);
    height: myrem(60);
    margin: 0 auto;
  }
}

.p-service-faq-more__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(35 / 260 * 100%);
  transform: translateY(-50%);
  width: myrem(14);
  height: myrem(12);
  background-color: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

  @include mq(md) {
    right: calc(55 / 260 * 100%);
  }
}
