@use "global" as *;

.p-single-news__mv {
  padding-top: myrem(175);

  @include mq(md) {
    padding-top: myrem(245);
  }
}

.p-single-news-mv-inner__breadcrumbs {
  margin-right: myrem(-20);
  margin-top: myrem(50);

  @include mq(md) {
    margin-top: myrem(10);
  }
}

.p-single-news__wrapper {
  margin-top: myrem(50);

  @include mq(md) {
    max-width: 1440px;
    padding-right: myrem(70);
    padding-left: myrem(70);
    margin: 0 auto;
    margin-top: myrem(70);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: myrem(30);
    padding-bottom: myrem(100);
  }
}

.p-single-news-wrapper__inner {
  @include mq(md) {
    padding: 0;
    width: calc(950 / 1300 * 100%);
  }
}

.p-single-news-wrapper__sidebar {
  @include mq(md) {
    width: myrem(320);
    position: sticky;
    top: myrem(20);
    align-self: flex-start;
  }
}

.p-single-news-wrapper-inner__postTitle {
  font-weight: 700;
  font-size: myrem(22);
  line-height: calc(32 / 22);
  padding-right: myrem(10);

  @include mq(md) {
    font-weight: 700;
    font-size: myrem(28);
    line-height: calc(40 / 28);
  }
}

.p-single-news-wrapper-inner__meta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: myrem(20);
  margin-top: myrem(40);

  @include mq(md) {
    margin-top: myrem(38);
  }
}

.p-single-news-wrapper-inner-meta__date {
  font-weight: 700;
  font-size: myrem(16);
}


.p-single-news-wrapper-inner-meta__category-name {
  width: myrem(80);
  height: myrem(25);
  font-weight: 700;
  font-size: myrem(14);
  color: $white;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-single-news-wrapper-inner__eye-catch {
  width: 100%;
  aspect-ratio: 335 / 176;
  margin-top: myrem(40);

  @include mq(md) {
    margin-top: myrem(50);
  }
}

.p-single-news-wrapper-inner__eye-catch img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.p-single-news-wrapper-inner-content__btn {
  margin: 0 auto;

  @include mq(md) {
  }
}
