@use "global" as *;

.p-service {
  width: 100%;
  background-color: $black_base;

  @include mq(md) {
    overflow: clip;
  }
}

.p-service__mv {
  width: 100%;
  background-color: $white;
}

.p-service-mv_inner {
  padding-top: myrem(170);

  @include mq(md) {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: myrem(245);
  }
}

.p-service-mv-inner__title {
  padding: myrem(0) myrem(20);

  @include mq(md) {
    padding: 0;
  }
}

.p-service-mv-inner__image {
  width: 100%;
  margin-top: myrem(25);

  @include mq(md) {
    margin-top: myrem(30);
    width: 100vw;
    margin: myrem(30) calc(50% - 50vw);
  }
}

.p-service-mv-inner__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 375 / 230;
  object-fit: cover;
  object-position: myrem(-165) center;

  @include mq(md) {
    aspect-ratio: 1440 / 480;
    object-position: center;
  }
}

.p-service__breadcrumbs {
  background-color: $black_base;
}

.p-service__price {
  width: 100%;
  padding-top: myrem(60);
  font-size: myrem(36);

  @include mq(md) {
    font-size: myrem(60);
    padding-top: 0;
  }
}

.p-service-price__inner {
  width: 100%;

  @include mq(md) {
    max-width: $innerWidth;
    margin: 0 auto;
    padding-top: myrem(10);
  }
}

.p-service-price__title::before {
  margin-left: 0;

  @include mq(md) {
    margin-left: 0;
  }
}

.p-service-price__title::after {
  margin-left: 0;
  font-size: myrem(36);

  @include mq(md) {
    margin-left: 0;
    font-size: myrem(60);
  }
}

//PRICE グリッド部分
.p-card-price-grid {
  width: 100%;
  background-color: $black_base;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: myrem(172) myrem(297) myrem(172) myrem(172);
  column-gap: myrem(10);
  row-gap: myrem(12);
  padding-top: myrem(30);

  @include mq(md) {
    grid-template-columns: myrem(343) 1fr myrem(740);
    grid-template-rows: myrem(407) myrem(396) myrem(310);
    column-gap: 0;
    row-gap: myrem(10);
    padding-top: myrem(20);
    margin-inline: auto;
  }
}

.p-card-price {
  background-color: $white;
  color: $black;
  padding: myrem(20) myrem(6) myrem(10) myrem(10);
  border-radius: myrem(4);

  @include mq(md) {
    padding: myrem(50) myrem(65);
  }
}

.p-card-price__title {
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(18);
  letter-spacing: 0.04em;
  color: $black;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.p-card-price__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-card-price-body--estimate {
  margin-top: myrem(15);

  @include mq(md) {
    margin-top: myrem(90);
  }
}

.p-card-price-body--basicFee {
  flex-direction: column;
  gap: myrem(15);

  @include mq(md) {
    flex-direction: row;
    gap: myrem(50);
    margin-top: myrem(35);
    transform: translateX(myrem(-5));
  }
}

.p-card-price-body--animation {
  margin-top: myrem(100);

  @include mq(md) {
    margin-top: myrem(80);
    letter-spacing: 0.02em;
  }
}

.p-card-price-body--responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: myrem(40);
  margin-top: myrem(5);
  transform: translateX(myrem(11));

  @include mq(md) {
    margin-top: myrem(40);
    gap: myrem(10);
    transform: translateX(myrem(0));
  }
}

.p-card-price-body--deadline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: myrem(30);
  margin-top: myrem(10);

  @include mq(md) {
    justify-content: space-between;
    margin-top: myrem(-35);
    gap: myrem(40);
  }
}

.p-card-price-body__text-block {
  @include mq(md) {
    letter-spacing: 0.02em;
  }
}

.p-card-price-body__text-block--basicFee {
  @include mq(md) {
    text-align: right;
    transform: translateX(myrem(-7));
    margin-top: myrem(-7);
  }
}

.p-card-price-body__text--animation {
  @include mq(md) {
    letter-spacing: 0;
    margin-left: myrem(-5);
  }
}

.p-card-price-body__text {
  font-family: $font-sub;
  font-weight: 500;
  font-size: myrem(34);
  color: $black;
  line-height: 1;
  position: relative;

  @include mq(md) {
    font-size: myrem(100);
  }
}

.p-card-price-body__text::before {
  content: attr(data-before);
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(14);
  letter-spacing: 0.04em;
  color: $black;

  @include mq(md) {
    font-size: myrem(32);
    margin-right: myrem(25);
    margin-top: myrem(-10);
  }
}

.p-card-price-body__text::after {
  content: attr(data-after);
  font-family: $font-main;
  font-size: myrem(14);
  font-weight: bold;
  vertical-align: baseline;

  @include mq(md) {
    font-size: myrem(32);
  }
}

.p-card-price-body__text--top {
  @include mq(md) {
    letter-spacing: 0em;
  }
}

.p-card-price-body__text--top:not(:first-child) {
  @include mq(md) {
    margin-top: myrem(20);
  }
}

.p-card-price-body__text--top::before {
  display: block;
  font-size: myrem(13);
  position: static; // 通常のフローで表示

  @include mq(md) {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: myrem(32);
    margin-right: myrem(12);
  }
}

.p-card-price-body__text--bottom {
  margin-top: myrem(12);
  padding-top: myrem(14);

  @include mq(md) {
    letter-spacing: 0;
    padding-top: myrem(10);
  }
}

.p-card-price-body__text--bottom::before {
  position: absolute;
  top: 0;

  @include mq(md) {
    position: static;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: myrem(32);
    margin-right: myrem(40);
    letter-spacing: 0;
  }
}

.p-card-price-body__text--responsive {
  transform: translateY(myrem(-10));
}

.p-card-price-body__text span {
  font-family: $font-main;
  font-weight: 700;
  font-size: myrem(14);
  letter-spacing: 0.04em;
  margin-left: myrem(5);

  @include mq(md) {
    font-size: myrem(32);
  }
}

// お見積り金額用のスタイル
.p-card-price-body__text .js-count-num {
  font-size: myrem(70);
  font-family: $font-sub;
  display: inline-block;
  // min-width: 3ch;
  // 数字3桁分のスペースを保持
  text-align: center;
  transform: translateX(myrem(5));

  @include mq(md) {
    font-size: myrem(100);
  }
}

.p-card-price-body__image--basicFee {
  margin-top: myrem(15);
  width: myrem(77);
  height: myrem(69);
  transform: translateX(myrem(8));

  @include mq(md) {
    width: myrem(216);
    height: myrem(194);

    margin-top: myrem(0);
  }
}

.p-card-price-body__image--responsive {
  width: myrem(78);
  height: myrem(102);

  @include mq(md) {
    width: myrem(145);
    height: myrem(199);
  }
}

.p-card-price-body__image--deadline {
  width: myrem(157);
  height: myrem(72);
  transform: translateY(myrem(-5));

  @include mq(md) {
    width: myrem(480);
    height: myrem(230);
    transform: translateY(myrem(-10));
  }
}

.p-card-price-body__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-card-price--estimate {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @include mq(md) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.p-card-price--basicFee {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include mq(md) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    margin-left: myrem(10);
  }
}

.p-card-price--animation {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @include mq(md) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.p-card-price--responsive {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  @include mq(md) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    margin-left: myrem(10);
  }
}

.p-card-price--deadline {
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  @include mq(md) {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    padding: myrem(50) myrem(235) myrem(10) myrem(225);
  }
}

.p-card-price__note {
  font-family: $font-main;
  font-weight: 500;
  font-size: myrem(12);
  line-height: calc(14 / 12);
  letter-spacing: 0.06em;
  color: #888888;
  text-align: center;
  margin-top: myrem(8);
  transform: translateX(myrem(5));

  @include mq(md) {
    text-align: left;
    font-size: myrem(16);
    margin-top: myrem(-45);
    transform: translateX(myrem(0));
    letter-spacing: 0.04em;
  }
}

// FAQ
.p-service__faq {
  padding-top: myrem(100);
  padding-bottom: myrem(60);
  background-color: $black_base;

  @include mq(md) {
    padding: myrem(180) myrem(70) myrem(110);
  }
}

.p-service-faq__title {
}

.p-service-faq-title__inner {
  width: 100%;
  padding-left: myrem(22);

  @include mq(md) {
    max-width: 1300px;
    padding-left: myrem(42);
    margin: 0 auto;
  }
}

.p-service-faq-title__inner::before {
  margin-left: myrem(0);
}
.p-service-faq-title__inner::after {
  margin-left: myrem(0);
}

.p-service-faq__list {
  margin-top: myrem(40);

  @include mq(md) {
    width: 100%;
    max-width: 1440px;
    padding: 0;
    margin: myrem(43) auto 0;
  }
}

.p-service-faq-list__item {
  background-color: $white;
  border-radius: myrem(10);
  padding: myrem(25) myrem(16) myrem(20);

  @include mq(md) {
    padding: myrem(19) myrem(30) myrem(15);
    border-radius: 0;
  }
}

.p-service-faq-list__item.is-hidden {
  display: none;
}

.p-service-faq-list__item + .p-service-faq-list__item {
  margin-top: myrem(10);
}

.p-service-faq-list__item-label {
  flex-shrink: 0; /* Q1 を縮めない */
  font-family: $font-sub;
  font-weight: 500;
  font-size: myrem(18);

  @include mq(md) {
    font-size: myrem(26);
  }
}

.p-service-faq-list__item-text {
  letter-spacing: 0.04em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;

  @include mq(md) {
    font-size: myrem(20);
    letter-spacing: 0.1em;
  }
}


.p-service-faq-list__item-question {
  font-family: "Open Sans";
  font-size: myrem(18);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: calc(24 / 18);
  text-align: left;
  padding-bottom: myrem(3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: myrem(10);

  @include mq(md) {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 0;
    gap: myrem(23);
    letter-spacing: 0.11em;
  }
}

.p-service-faq-list__item-answer {
  font-family: "Open Sans";
  font-size: myrem(14);
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: calc(26 / 14);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  will-change: max-height, opacity;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out,
    padding 0.5s ease-in-out;

  @include mq(md) {
    padding: 0 0 0 myrem(62);
  }
}

.p-service-faq-list__item-answer p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.p-service-faq-list__item.is-open .p-service-faq-list__item-answer {
  max-height: myrem(500); /* 中身の高さより少し多めに */
  opacity: 1;
  padding-top: myrem(16);

  @include mq(md) {
    padding: myrem(10) 0 0 myrem(62);
    letter-spacing: 0;
    line-height: calc(28 / 16);
    font-size: myrem(16);
  }
}

.p-service-faq-list__item-icon {
  flex-shrink: 0;
  margin-left: auto; /* 右端に配置 */
  width: 1em;
  height: 1em;
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-left: auto;
}

.p-service-faq-list__item-icon::before,
.p-service-faq-list__item-icon::after {
  content: "";
  position: absolute;
  background-color: $black;
  border-radius: 1px;
  transition: 0.3s;
}

/* 横線 */
.p-service-faq-list__item-icon::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}

/* 縦線（＋用） */
.p-service-faq-list__item-icon::after {
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

/* is-open 時は縦線を消して「−」にする */
.p-service-faq-list__item.is-open .p-service-faq-list__item-icon::after {
  opacity: 0;
}

.p-service-faq-more {
  margin-top: myrem(40);

  @include mq(md) {
    margin-top: myrem(45);
  }
}

.p-service-faq-more__btn {
  margin-inline: auto;
  width: myrem(260);
  height: myrem(64);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 myrem(20);
  font-family: $font-main;
  font-size: myrem(18);
  letter-spacing: 0.06em;
  color: $white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, #000000 0%, #929292 100%);
  border: none;
  border-radius: myrem(40);
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: relative;

  @include mq(md) {
    font-size: myrem(20);
    letter-spacing: 0.1em;
    width: myrem(300);
    height: myrem(60);
    margin: 0 auto;
  }
}

.p-service-faq-more__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(35 / 260 * 100%);
  transform: translateY(-50%);
  width: myrem(14);
  height: myrem(12);
  background-color: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

  @include mq(md) {
    right: calc(55 / 260 * 100%);
  }
}
